<!-- ticket reply -->

<form action=""
      class="form-horizontal"
      enctype="multipart/form-data"
      method="post"
      name="add_reply"
      style="width:100%">
    {{ form.hidden_tag() }}

  <div class="mdl-cell mdl-cell--12-col">
      <h5 class="mdl-cell mdl-cell--12-col">{{ form.content.label }}</h5>
      <div class="mdl-cell mdl-cell--12-col">
          {{ form.content(class="mdl-textfield__input mdl-js-textfield", style="width: 100%") }}
      </div>
  </div>
  {% if form.content.errors %}
      <div class="alert alert-warning small">
          {% for error in form.content.errors %}
              {{ error }}
          {% endfor %}
      </div>
  {% endif %}

  {% if form.uploads %}
      {{ form.uploads }}
  {% endif %}

    <br>

    <div class="form-group mdl-cell mdl-cell--12-col">
      <label class="control-label">{{ form.file.label }}</label>
      <div class="mdl-button mdl-button--primary mdl-button--icon mdl-button--file">
        <i class="material-icons" style="color:rgb(68,138,255);">attach_file</i>
          {{ form.file }}
      </div>
      <input class="mdl-textfield__input" placeholder="File" type="text" id="uploadFile" readonly/>
      <br>
      <div class="">
          {{ form.submit(class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent") }}
      </div>
    </div>
</form>
<!-- ticket reply /end -->

<script>
  document.getElementById("uploadBtn").onchange = function () {
      document.getElementById("uploadFile").value = this.files[0].name;
  };
</script>
