<form action=""
      class="form-horizontal"
      enctype="multipart/form-data"
      method="post"
      name="create_ticket">
    {{ form.hidden_tag() }}

    <div class="mdl-grid">
      <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-cell--12-col">
            {{ form.title(class="form-control mdl-textfield__input", pattern="[A-Z,a-z,0-9, ]*", autocomplete="off") }}
          <label class="mdl-textfield__label">Ticket Title</label>
          <span class="mdl-textfield__error">Only alphanumeric input, please!</span>
      </div>
      {% if form.title.errors %}
        <div class="mdl-cell mdl-cell--12-col">
          <div class="alert alert-warning small" style="color: red;">
              {% for error in form.title.errors %}
                  {{ error }}
              {% endfor %}
          </div>
        </div>
      {% endif %}

      <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-cell--12-col">
          {{ form.content(class="form-control mdl-textfield__input") }}
        <label class="mdl-textfield__label">Description</label>
      </div>
      {% if form.content.errors %}
        <div class="mdl-cell mdl-cell--12-col">
          <div class="alert alert-warning small" style="color: red;">
              {% for error in form.content.errors %}
                  {{ error }}
              {% endfor %}
          </div>
        </div>
      {% endif %}

      <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-cell--12-col">
        <label class="mdl-textfield__label">Component</label>
        <select name="Component" class="form-control mdl-textfield__input">
          {% for component in components %}
            <option value="{{component.id}}">{{component.name}}</option>
          {% endfor %}
        </select>
      </div>

    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-cell--12-col">
      <label class="mdl-textfield__label">Priority Level</label>
      {{ form.priority(class="form-control mdl-textfield__input") }}
    </div>
    {% if form.priority.errors %}
      <div class="mdl-cell mdl-cell--12-col">
          <div class="alert alert-warning small" style="color: red;">
              {% for error in form.priority.errors %}
                  {{ error }}
              {% endfor %}
          </div>
        </div>
    {% endif %}


    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-cell--12-col">
      <label class="mdl-textfield__label">Category</label>
      {{ form.category(class="form-control mdl-textfield__input") }}
    </div>

    {% if form.category.errors %}
        <div class="alert alert-warning small">
            {% for error in form.category.errors %}
                {{ error }}
            {% endfor %}
        </div>
    {% endif %}

    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-cell--12-col">
      <select name="sitename" class="mdl-textfield__input">
        {% if site != None %}
          <option value="{{ site.name }}">{{site.name}}</option>
        {% else %}
          {% for site in sites %}
            <option value="{{ site.name }}">{{site.name}}</option>
          {% endfor %}
        {% endif %}
      </select>
      <label class="mdl-textfield__label">Facility</label>
      <span class="mdl-textfield__error">No Facilities available</span>
    </div>

    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-cell--12-col">
      <select name="project" class="mdl-textfield__input">
        {% if project != None %}
          <option value="{{ project.id }}">{{project.name}}</option>
        {% else %}
          <option value=""></option>
        {% endif %}
        {% for project in projects %}
          <option value="{{ project.id }}">{{project.name}}</option>
        {% endfor %}
      </select>
      <label class="mdl-textfield__label">Project</label>
      <span class="mdl-textfield__error">No Projects available</span>
    </div>

    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-cell--12-col">
      <input type="date" placeholder=" " name="date_due" id="due_date" class="mdl-textfield__input">
      <label class="mdl-textfield__label" for="due_date">Due Date (Optional)</label>
    </div>

    {% if form.uploads %}
        {{ form.uploads }}
    {% endif %}

    <div class="form-group mdl-cell mdl-cell--12-col">
        <label class="control-label">{{ form.file.label }}</label>
        <div class="mdl-button mdl-button--primary mdl-button--icon mdl-button--file">
          <i class="material-icons" style="color:rgb(68,138,255);">attach_file</i>
            {{ form.file }}
        </div>
        <input class="mdl-textfield__input" placeholder="File" type="text" id="uploadFile" readonly/>
        <br>
        {{ form.submit(class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent") }}
    </div>
  </div>
</form>

<div class="mdl-grid">
  <div class="form-group mdl-cell mdl-cell--12-col">
    <form action="{{request.referrer}}" method="GET">
      <input type="submit" value="Return" class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent">
      </input>
    </form>
  </div>
</div>

<script>
  document.getElementById("uploadBtn").onchange = function () {
      document.getElementById("uploadFile").value = this.files[0].name;
  };
</script>
