<!-- extend from base layout -->
{% extends "layout.html" %}
{% block content %}


    <div class="container">

                <h1>{{ title }}</h1>


        <div class="row">
            <!-- Flicket search form -->
            <form action=""
                  class="form-horizontal flicket-form"
                  enctype="multipart/form-data"
                  method="post"
                  name="search_ticket">
                {{ form.hidden_tag() }}


                <div class="form-group">
                    <div class="col-sm-2 flicket-form-control">
                        {{ form.department(class="form-control", id="department") }}
                    </div>
                    <div class="col-sm-2 flicket-form-control">
                        {{ form.category(class="form-control", id="category") }}
                    </div>
                    <div class="col-sm-2 flicket-form-control">
                        {{ form.status(class="form-control", id="status")}}
                    </div>
                    <div class="col-sm-2 flicket-form-control">
                        {{ form.email(class="form-control", placeholder="email", id="autocomplete-email") }}
                    </div>
                    <div class="col-sm-3 flicket-form-control">
                        {{ form.content(class="form-control", placeholder="contents") }}
                    </div>
                    <div class="col-sm-1 flicket-form-control text-right">
                        <input class="btn btn-primary" type="submit" value="search"/>
                    </div>
                </div>
                {% if form.email.errors %}
                    <div class="alert alert-warning small">
                        {% for error in form.email.errors %}
                            {{ error }}
                        {% endfor %}
                    </div>
                {% endif %}
                {% if form.content.errors %}
                    <div class="alert alert-warning small">
                        {% for error in form.content.errors %}
                            {{ error }}
                        {% endfor %}
                    </div>
                {% endif %}
            </form>
            <!-- / flicket search form -->
        </div>

        <table class="mdl-data-table mdl-js-data-table">
          <thead>
            <tr>
                <th class="mdl-data-table__cell--non-numeric">
                    Ticket ID
                </th>
                <th class="mdl-data-table__cell--non-numeric">
                    Priority
                </th>
                <th class="mdl-data-table__cell--non-numeric">
                    Title
                </th>
                <th class="mdl-data-table__cell--non-numeric">
                    Submitted By
                </th>
                <th class="mdl-data-table__cell--non-numeric">
                    Date
                </th>
                <th class="mdl-data-table__cell--non-numeric">
                    Replies
                </th>
                <th class="mdl-data-table__cell--non-numeric">
                    Category
                </th>
                <th class="mdl-data-table__cell--non-numeric">
                    Status
                </th>
                <th class="mdl-data-table__cell--non-numeric">
                    Assigned
                </th>
            </tr>
          </thead>
          <tbody>
            {% for t in tickets %}
                <tr {%- if t.current_status.status == 'Closed' %} class="success"{% endif %}>
                    <td class="mdl-data-table__cell--non-numeric">
                        <a href="{{ url_for('ticket_view', ticket_id = t.id) }}">{{ t.ticket_name }}</a>
                    </td>
                    <td class="mdl-data-table__cell--non-numeric">
                        {{ t.ticket_priority.priority }}
                    </td>
                    <td class="mdl-data-table__cell--non-numeric">
                        {{ t.title }}
                    </td>
                    <td class="mdl-data-table__cell--non-numeric">
                        {{ t.user.email }}
                    </td>
                    <td class="mdl-data-table__cell--non-numeric">
                        {{ t.date_added.strftime('%Y-%m-%d') }}
                    </td>
                    <td class="mdl-data-table__cell--non-numeric">
                        {{ t.num_replies }}
                    </td>
                    <td class="mdl-data-table__cell--non-numeric">
                        {{ t.category.category }}
                    </td>
                    <td class="mdl-data-table__cell--non-numeric">
                        {{ t.current_status.status }}
                    </td>
                    <td class="mdl-data-table__cell--non-numeric">
                        {{ t.assigned.email }}
                    </td>
                </tr>
            {% endfor %}
          </tbody>
        </table>

        <ul class="pagination pagination-sm mdl-list">{% for page in tickets %}
            {% if page %}
                {% if page != tickets.page %}
                    <li class="mdl-list__item"><a href="{{ url_for('tickets', page=page, **request.args) }}"> {{ page }}</a>
                    </li>
                {% else %}
                    <li class="active mdl-list__item"><a
                            href="{{ url_for('tickets', page=page, **request.args) }}"> {{ page }}</a>
                    </li>
                {% endif %}
            {% else %}
                <li><a href="">...</a></li>
            {% endif %}
        {% endfor %}
        </ul>

    </div>
{% endblock %}
