<!-- extend from base layout -->
{% extends "layout.html" %}
{% block content %}

    <div class="mdl-layout">
        <div class="mdl-grid" style="margin: 0 !important">
          <h3 class="mdl-cell mdl-cell--11-col">{{ title }}</h3>

          <div class="mdl-cell mdl-cell--1-col">
            {%if site is defined and site != None %}
              <a id="tooltip1" class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored" href="{{ url_for('ticket_create', sitename=site.name) }}">
                <div class="material-icons">add</div>
                <div class = "mdl-tooltip" for = "tooltip1">Create Ticket</div>
              </a>
            {% else %}
              <a id="tooltip1" class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored" href="{{ url_for('ticket_create') }}">
                <div class="material-icons">add</div>
                <div class = "mdl-tooltip" for = "tooltip1">Create Ticket</div>
              </a>
            {% endif %}
          </div>

          <div class="mdl-cell mdl-cell--1-col">
            <a id="tooltip2" href="{{ url_for('tickets_report') }}">
              <div class="material-icons" style="height: 10px; width: 10px;">file_download</div>
              <div class = "mdl-tooltip" for = "tooltip2">Download Report</div>
            </a>
          </div>
        </div>

        <div class="mdl-grid mdl-cell mdl-cell--12-col">
          <div class="mdl-cell--1-col"></div>

          <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-cell mdl-cell--2-col">
            <input type="text" id="namefil" class="form-control mdl-textfield__input">
            <label class="mdl-textfield__label">Ticket Title</label>
          </div>

          <div class="mdl-cell--1-col"></div>

          <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-cell--2-col">
            <label class="mdl-textfield__label">Search by Priority</label>
            <select id="priorityfil" class="form-control mdl-textfield__input">
              <option value="all">All</option>
              {% for priority in all_priority %}
                <option value="{{priority.priority}}">{{priority.priority}}</option>
              {% endfor %}
            </select>
          </div>

          <div class="mdl-cell--1-col"></div>

          <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-cell--2-col">
            <label class="mdl-textfield__label">Search by category</label>
            <select id="categoryfil" class="form-control mdl-textfield__input">
              <option value="all">All</option>
              {% for category in all_category %}
                <option value="{{category.category}}">{{category.category}}</option>
              {% endfor %}
            </select>
          </div>

          <div class="mdl-cell--1-col"></div>

          <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-cell--2-col">
            <label class="mdl-textfield__label">Search by Status</label>
            <select id="statusfil" class="form-control mdl-textfield__input">
              <option value="all">All</option>
              {% for status in all_status %}
                <option value="{{status.status}}">{{status.status}}</option>
              {% endfor %}
            </select>
          </div>
        </div>

        <table id="myTable" class="mdl-data-table mdl-js-data-table mdl-cell mdl-cell--12-col">
          <thead>
            <tr>
                <th class="mdl-data-table__cell--non-numeric">
                    Ticket Name
                </th>
                <th class="mdl-data-table__cell--non-numeric">
                    Priority
                </th>
                <th class="mdl-data-table__cell--non-numeric">
                    Description
                </th>
                <th class="mdl-data-table__cell--non-numeric">
                    Submitted By
                </th>
                <th class="mdl-data-table__cell--non-numeric">
                    Date
                </th>
                <th class="mdl-data-table__cell--non-numeric">
                    Replies
                </th>
                <th class="mdl-data-table__cell--non-numeric">
                    Category
                </th>
                <th class="mdl-data-table__cell--non-numeric">
                    Status
                </th>
                <th class="mdl-data-table__cell--non-numeric">
                    Assigned
                </th>
            </tr>
          </thead>
          <tbody id="tbody">
            {% for t in tickets.items %}
                <tr {%- if t.current_status.status == 'Closed' %} class="success"{% endif %}>
                    <td class="mdl-data-table__cell--non-numeric">
                        <a href="{{ url_for('ticket_view', ticket_id = t.id) }}">{{ t.ticket_name }}</a>
                    </td>
                    <td class="mdl-data-table__cell--non-numeric">
                        {{ t.ticket_priority.priority }}
                    </td>
                    <td class="mdl-data-table__cell--non-numeric">
                        {{ t.description }}
                    </td>
                    <td class="mdl-data-table__cell--non-numeric">
                        {{ t.user.first_name }} {{ t.user.last_name }}
                    </td>
                    <td class="mdl-data-table__cell--non-numeric">
                        {{ t.date_added.strftime('%Y-%m-%d') }}
                    </td>
                    <td class="mdl-data-table__cell--non-numeric">
                        {{ t.num_replies }}
                    </td>
                    <td class="mdl-data-table__cell--non-numeric">
                        {{ t.category.category }}
                    </td>
                    <td class="mdl-data-table__cell--non-numeric">
                        {{ t.current_status.status }}
                    </td>
                    <td class="mdl-data-table__cell--non-numeric">
                        {{ t.assigned.first_name }} {{ t.assigned.last_name }}
                    </td>
                </tr>
            {% endfor %}
          </tbody>
        </table>

        <div id="pagination" class="mdl-cell mdl-cell--12-col">
          <a id="previous" class="mdl-cell mdl-cell--4-col" href="#" style="display: none">&lt;</a>
          {% if tickets.next_num %}<p id="page" class="mdl-cell mdl-cell--4-col">{{tickets.page}}</p>
          <a id="next" class="mdl-cell mdl-cell--4-col" href="#">&gt;</a>
          {% endif%}
        </div>
    </div>

    <script>
      $(document).ready(function(){
        $("#namefil, #priorityfil, #categoryfil, #statusfil").change(function(){
          $.get("/_filter_tickets", {name: $('#namefil').val(),
                                    priority: $('#priorityfil option:selected').val(),
                                    category: $('#categoryfil option:selected').val(),
                                    status: $('#statusfil option:selected').val(),
                                    site: "{{site}}"},
          function(data){
            $("#tbody").html(data['results']);
            $("#page").html(data['page']);
            if (data['page'] == 1){
              $('#previous').hide()
            }
            if (data['page'] == data['pages']){
              $('#next').hide()
            }
            if (data['page'] != data['pages']){
              $('#next').show()
            }
          });
        });
      });

      $(document).ready(function(){
        $("a#previous").click(function(e){
          e.preventDefault();
          $.get("/_filter_tickets", {name: $('#namefil').val(),
                                    priority: $('#priorityfil option:selected').val(),
                                    category: $('#categoryfil option:selected').val(),
                                    status: $('#statusfil option:selected').val(),
                                    page: (parseInt($("#page").html()) - 1),
                                    site: "{{site}}"},
          function(data){
            $("#tbody").html(data['results']);
            $("#page").html(data['page']);
            var page_number = $('page_number').data()
            if (data['page'] == 1){
              $('#previous').hide()
            }
            if (data['page'] != data['pages']){
              $('#next').show()
            }
          });
        });
      });

      $(document).ready(function(){
        $("a#next").click(function(e){
          e.preventDefault();
          $.get("/_filter_tickets", {name: $('#namefil').val(),
                                    priority: $('#priorityfil option:selected').val(),
                                    category: $('#categoryfil option:selected').val(),
                                    status: $('#statusfil option:selected').val(),
                                    page: (parseInt($("#page").html()) + 1),
                                    site: "{{site}}"},
          function(data){
            $("#tbody").html(data['results']);
            $("#page").html(data['page']);
            if (data['page'] == data['pages']){
              $('#next').hide()
            }
            if (data['page'] != 1) {
              $('#previous').show()
            }
          });
        });
      });
    </script>


{% endblock %}
