{% extends "layout.html" %}
{% block content %}
  <h3>New Project for {{site.name}}</h3>

  <br>

  <div>
    <form action="/site/{{ site.name }}/projects/new" method="POST">
      <input type="text" name="project_name" placeholder="Project Name" required class="mdl-textfield__input">
      <br>
      <input type="text" name="project_description" placeholder="Give a description of the project" required class="mdl-textfield__input">
      <br>
      <input type="text" name="job_number" placeholder="5368" required class="mdl-textfield__input">
      <br>
      <select name="assigned_to" class="mdl-textfield__input" required>
        <option value=""></option>
        {% for user in users %}
          <option value="{{user.email}}">{{user.email}}</option>
        {% endfor %}
      </select>

      <br>
      <input type="submit" value="Create Project" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
    </form>

    <br>

    <div>
      <form action="/site/{{ site.name }}/projects" method="GET">
        <input type="submit" value="Return" class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent">
        </input>
      </form>
    </div>
  </div>

{% endblock %}
