{% extends "layout.html" %}
{% block title %}- {{project.name}}{% endblock %}
{% block content %}
  <div class="mdl-grid">
    <h3 class="mdl-cell mdl-cell--11-col mdl-cell--3-col-phone">Deliverables for {{ ITP.name }}</h3>

    <div class="mdl-cell mdl-cell--1-col mdl-cell--1-col-phone">
      <a id="tooltip1" class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored"
      href="{{url_for('site_project_ITP_deliverable_new', siteid=site.id, projectid=project.id, ITPid=ITP.id)}}">
        <div class="material-icons" style="height: 10px; width: 10px;">add</div>
        <div class = "mdl-tooltip" for = "tooltip1">Add Deliverable</div>
      </a>
    </div>

    <div class="mdl-cell mdl-cell--1-col mdl-cell--1-col-phone">
      <a id="tooltip2" href="{{ url_for('deliverables_report_page', siteid=site.id, projectid=project.id, ITPid=ITP.id) }}">
        <div class="material-icons" style="height: 10px; width: 10px;">file_download</div>
        <div class = "mdl-tooltip" for = "tooltip2">Download Report</div>
      </a>
    </div>
  </div>

  <div class ="table-responsive">
    <table class="mdl-data-table mdl-js-data-table" style="width: 100%">
      <thead>
        <tr>
          <th class="mdl-data-table__cell--non-numeric">Name</th>
          <th class="mdl-data-table__cell--non-numeric">Description</th>
          <th class="mdl-data-table__cell--non-numeric">Deliverable Type</th>
          <th class="mdl-data-table__cell--non-numeric">Status</th>
          <th class="mdl-data-table__cell--non-numeric">Complete</th>
          <th class="mdl-data-table__cell--non-numeric"></th>
        </tr>
      </thead>
      <tbody>
      {% for deliverable in deliverables %}
        <tr>
          <td class="mdl-data-table__cell--non-numeric">
            <a href="{{url_for('site_project_ITP_deliverable', siteid=site.id, projectid=project.id, ITPid=ITP.id, deliverableid=deliverable.id)}}">
              {{deliverable.name}}
            </a>
          </td>
          <td class="mdl-data-table__cell--non-numeric">{{deliverable.description}}</td>
          <td class="mdl-data-table__cell--non-numeric">{{deliverable.type.name}}</td>
          <td class="mdl-data-table__cell--non-numeric">{{deliverable.status}}</td>
          <td class="mdl-data-table__cell--non-numeric">{{'%0.0f' %deliverable.percentage_complete}}%</td>
          <td class="mdl-data-table__cell--non-numeric" style="width:10%;">
            <a href="{{url_for('site_project_ITP_deliverable_edit', siteid=site.id, projectid=project.id, ITPid=ITP.id, deliverableid=deliverable.id)}}">
              Edit
            </a>/
            <a href="{{url_for('site_project_ITP_deliverable_delete', siteid=site.id, projectid=project.id, ITPid=ITP.id, deliverableid=deliverable.id)}}">
              Delete
            </a>
          </td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
  </div>
  <br>

  <div class="mdl-grid">
    <div class="mdl-cell mdl-cell--6-col">
      <a href="{{url_for('site_project_ITP', siteid=site.id, projectid=project.id, ITPid=ITP.id)}}">
        <input type="submit" value="Return" class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent">
        </input>
      </form>
    </div>
  </div>


{% endblock %}
