{% extends "layout.html" %}
{% block title %}- {{project.name}}{% endblock %}
{% block content %}
  <h3>New Deliverable for {{ITP.name}}</h3>

  {% if error %}
    <p class="error" style="color: firebrick;"><strong>Error:</strong> {{ error }}</p>
  {% endif %}

  <br>

  <div>
    <form method="POST" action="{{url_for('site_project_ITP_deliverable_new', siteid=site.id, projectid=project.id, ITPid=ITP.id)}}">
      <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-cell--12-col">
        <input type="text" name="deliverable_name" class="mdl-textfield__input">
        <label class="mdl-textfield__label">Deliverable Name</label>
      </div>
      <br>
      <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-cell--12-col">
        <input type="text" name="deliverable_description" class="mdl-textfield__input">
        <label class="mdl-textfield__label">Deliverable Description</label>
      </div>
      <br>
      <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-cell--12-col">
        <select name="deliverable_type" class="mdl-textfield__input">
          <option value=""></option>
          {% for type in types %}
            <option value="{{type.name}}">{{type.name}}</option>
          {% endfor %}
        </select>
        <label class="mdl-textfield__label">Deliverable Type</label>
      </div>
      <br>
      <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-cell--12-col">
        <select name="deliverable_location" class="mdl-textfield__input">
          <option value=""></option>
          {% for location in locations %}
            <option value="{{location.name}}">{{location.name}}</option>
          {% endfor %}
        </select>
        <label class="mdl-textfield__label">Deliverable Location</label>
      </div>
      <br>
      <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-cell--12-col">
        <select name="deliverable_status" class="mdl-textfield__input">
          <option value="Not Started">Not Started</option>
          <option value="In Progress">In Progress</option>
          <option value="Completed">Completed</option>
          <option value="Not Applicable">Not Applicable</option>
        </select>
        <label class="mdl-textfield__label">Deliverable Status</label>
      </div>
      <br>
      <input type="submit" value="Create Deliverable" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
    </form>

    <br>

    <div>
      <form method="GET" action="{{url_for('site_project_ITP_deliverable_list', siteid=site.id, projectid=project.id, ITPid=ITP.id)}}">
        <input type="submit" value="Return" class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent">
        </input>
      </form>
    </div>
  </div>

{% endblock %}
