{% extends "layout.html" %}
{% block title %}- {{project.name}}{% endblock %}
{% block content %}
  <h3>Are You Sure You Want To Delete {{ deliverable.name }}</h3>

  <div>
    <div>
      <form action="{{url_for('site_project_ITP_deliverable_delete', sitename=site.name, projectname=project.name, ITPname=ITP.name, deliverableid=deliverable.id)}}" method="POST">
        <input type="submit" value="Delete" class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent">
        </input>
      </form>
    </div>

    <br>

    <div>
      <form action="{{url_for('site_project_ITP_deliverable_list', sitename=site.name, projectname=project.name, ITPname=ITP.name)}}" method="GET">
        <input type="submit" value="Return" class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent">
        </input>
      </form>
    </div>
  </div>

{% endblock %}
