{% extends "layout.html" %}
{% block title %}- {{project.name}}{% endblock %}
{% block content %}
  <h3>New Deliverable for {{ITP.name}}</h3>

  {% if error %}
    <p class="error" style="color: firebrick;"><strong>Error:</strong> {{ error }}</p>
  {% endif %}

  <br>

  <div>
    <form action="/site/{{ site.name }}/projects/{{ project.name }}/ITP/{{ ITP.name }}/deliverable/new" method="POST">
      <input type="text" name="deliverable_name" placeholder="Deliverable Name" required class="mdl-textfield__input">
      <br>
      <input type="text" name="deliverable_description" placeholder="Give a description of the deliverable" required class="mdl-textfield__input">
      <br>
      <select name="deliverable_type" class="mdl-textfield__input" required>
        <option value=""></option>
        {% for type in types %}
          <option value="{{type.name}}">{{type.name}}</option>
        {% endfor %}
      </select>
      <br>
      <select name="deliverable_location" class="mdl-textfield__input" required>
        <option value=""></option>
        {% for location in locations %}
          <option value="{{location.name}}">{{location.name}}</option>
        {% endfor %}
      </select>
      <br>
      <select name="deliverable_status" class="mdl-textfield__input" required>
        <option value="Not Started">Not Started</option>
        <option value="In Progress">In Progress</option>
        <option value="Completed">Completed</option>
        <option value="Not Applicable">Not Applicable</option>
      </select>
      <br>
      <input type="submit" value="Create Deliverable" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
    </form>

    <br>

    <div>
      <form action="/site/{{site.name}}/projects/{{project.name}}/ITP/{{ITP.name}}/deliverable" method="GET">
        <input type="submit" value="Return" class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent">
        </input>
      </form>
    </div>
  </div>

{% endblock %}
