{% extends "layout.html" %}
{% block title %}- {{project.name}}{% endblock %}
{% block head %}
  <script>

  </script>
{% endblock %}
{% block content %}
<div class="mdl-grid">
  <h3 class="mdl-cell mdl-cell--11-col mdl-cell--3-col-phone">Checks for {{ITC.ITC.name}}</h3>

  <div class="mdl-cell mdl-cell--1-col mdl-cell--1-col-phone">
    <a id="tooltip3" class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored" href="{{ url_for('checks_report_page', siteid=site.id, projectid=project.id, ITPid=ITP.id, deliverableid=deliverable.id, ITCid=ITC.id) }}">
      <div class="material-icons" style="height: 10px; width: 10px;">file_download</div>
      <div class = "mdl-tooltip" for = "tooltip3">Download Report</div>
    </a>
  </div>

  <h5 class="mdl-cell mdl-cell--12-col">{{'%0.0f' %percentage_complete}}% completed</h5>
</div>

  <br>

  <div>
    <form method="POST" action="{{url_for('site_project_ITP_deliverable_ITC_change', siteid=site.id, projectid=project.id, ITPid=ITP.id, deliverableid=deliverable.id, ITCid=ITC.id)}}">
      <div class="table-responsive">
        <table class="mdl-data-table mdl-js-data-table" style="width: 100%">
          <thead>
            <tr>
              <th class="mdl-data-table__cell--non-numeric">Description</th>
              <th class="mdl-data-table__cell--non-numeric">Comments</th>
              <th class="mdl-data-table__cell--non-numeric">Status</th>
              <th class="mdl-data-table__cell--non-numeric">Completed?</th>
              <th class="mdl-data-table__cell--non-numeric">Completion Date</th>
              <th class="mdl-data-table__cell--non-numeric">Completed by</th>
              <th class="mdl-data-table__cell--non-numeric"></th>
            </tr>
          </thead>
          <tbody>
          {% for check in checks %}
            <tr>
              <td class="mdl-data-table__cell--non-numeric">{{check.ITC_check.check.check_description}}</th>
              <td class="mdl-data-table__cell--non-numeric">{{check.comments}}</th>
              <td class="mdl-data-table__cell--non-numeric">{{check.status}}</td>
              <td class="mdl-data-table__cell--non-numeric">
                {% if check.is_done == True %}
                  <label class="mdl-checkbox mdl-js-checkbox">
                    <input name="check_box" class="mdl-checkbox__input check" type="checkbox" value="{{check.id}}" checked/>
                  </label>
                {% else %}
                  <label class="mdl-checkbox mdl-js-checkbox">
                    <input name="check_box" class="mdl-checkbox__input check" type="checkbox" value="{{check.id}}"/>
                  </label>
                {% endif %}
              </td>
              <td class="mdl-data-table__cell--non-numeric">{{check.completion_datetime}}</td>
              <td class="mdl-data-table__cell--non-numeric">{{check.user}}</td>
              <td class="mdl-data-table__cell--non-numeric" style="width:10%;">
                <a href="{{url_for('site_project_ITP_deliverable_ITC_check_edit', siteid=site.id, projectid=project.id, ITPid=ITP.id, deliverableid=deliverable.id, ITCid=ITC.id, checkid=check.id)}}">
                  Edit
                </a>/
                <a href="{{url_for('site_project_ITP_deliverable_ITC_check_delete', siteid=site.id, projectid=project.id, ITPid=ITP.id, deliverableid=deliverable.id, ITCid=ITC.id, checkid=check.id)}}">
                  Delete
                </a>
              </td>
            </tr>
          {% endfor %}
          </tbody>
        </table>
      </div>
      <br>
      <input type="submit" value="save changes" class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent">
      </input>
    </form>
  </div>

  <br>
    {% if request.referrer != none %}
      {% if request.referrer.split('/')[-1].strip('?') == 'delete' or request.referrer.split('/')[-1].strip('?') == 'edit'
      or request.referrer.split('/')[-1].strip('?') == 'checks' %}
        <form method="Get" action="{{url_for('site_project_ITP_deliverable_ITC_list', siteid=site.id, projectid=project.id, ITPid=ITP.id, deliverableid=deliverable.id)}}">
          <input type="submit" value="Return" class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent">
          </input>
        </form>
      {% else %}
        <form action="{{request.referrer}}">
          <input type="submit" value="Return" class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent">
          </input>
        </form>
      {% endif %}
    {% else %}
      <form method="Get" action="{{url_for('site_project_ITP_deliverable_ITC_list', siteid=site.id, projectid=project.id, ITPid=ITP.id, deliverableid=deliverable.id)}}">
        <input type="submit" value="Return" class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent">
        </input>
      </form>
    {% endif %}

    <!-- <div class="mdl-cell mdl-cell--4-col">
      <form action="/site/{{site.name}}/projects/{{project.name}}/ITP/{{ITP.name}}/deliverable/{{deliverable.name}}/ITC/{{ITC.id}}/check/new">
        <input type="submit" value="New Check" class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent">
        </input>
      </form>
    </div> -->


{% endblock %}
