{% extends "layout.html" %}
{% block title %}- {{project.name}}{% endblock %}
{% block content %}
  <h3>Are You Sure You Want To Delete {{ check.id }}</h3>

  <div>
    <div>
      <form method="POST" action="{{url_for('site_project_ITP_deliverable_ITC_check_delete', sitename=site, projectname=project.name, ITPname=ITP.name, deliverableid=deliverable.id, ITCid=ITC.id, checkid=check.id)}}">
        <input type="submit" value="Delete" class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent">
        </input>
      </form>
    </div>

    <br>

    <div>
      <form method="Get" action="{{url_for('ITC_testing', sitename=site, projectname=project.name, ITPname=ITP.name, deliverableid=deliverable.id, ITCid=ITC.id)}}">
        <input type="submit" value="Return" class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent">
        </input>
      </form>
    </div>
  </div>

{% endblock %}
