{% extends "layout.html" %}
{% block title %}- {{project.name}}{% endblock %}
{% block content %}
  <h3>Inspection and Testing Checks</h3>

  <table class="mdl-data-table mdl-js-data-table" style="width: 100%">
    <thead>
      <tr>
        <th class="mdl-data-table__cell--non-numeric">Name</th>
        <th class="mdl-data-table__cell--non-numeric">Comments</th>
        <th class="mdl-data-table__cell--non-numeric">Deliverable</th>
        <th class="mdl-data-table__cell--non-numeric">Status</th>
        <th class="mdl-data-table__cell--non-numeric">Complete</th>
        <th class="mdl-data-table__cell--non-numeric">Start Testing</th>
        <th class="mdl-data-table__cell--non-numeric"></th>
      </tr>
    </thead>
    <tbody>
    {% for ITC in ITCs %}
      <tr>
        <td class="mdl-data-table__cell--non-numeric">
          <a href="/site/{{ site.name }}/projects/{{ project.name }}/ITP/{{ITP.name}}/deliverable/{{deliverable.name}}/ITC/{{ITC.id}}/checks">
            {{ITC.ITC.name}}
          </a>
        </td>
        <td class="mdl-data-table__cell--non-numeric">{{ITC.comment}}</td>
        <td class="mdl-data-table__cell--non-numeric">{{ITC.deliverable}}</td>
        <td class="mdl-data-table__cell--non-numeric">{{ITC.status}}</td>
        <td class="mdl-data-table__cell--non-numeric">{{'%0.0f' %ITC.percentage_complete}}%</td>
        <td class="mdl-data-table__cell--non-numeric">
          <a href="/site/{{site.name}}/projects/{{project.name}}/ITP/{{ITP.name}}/deliverable/{{deliverable.name}}/ITC/{{ITC.id}}/starttest">
            Start testing
          </a>
        </td>
        <td class="mdl-data-table__cell--non-numeric" style="width:10%;">
          <a href="/site/{{site.name}}/projects/{{project.name}}/ITP/{{ITP.name}}/deliverable/{{deliverable.name}}/ITC/{{ITC.id}}/edit">
            Edit
          </a>/
          <a href="/site/{{site.name}}/projects/{{project.name}}/ITP/{{ITP.name}}/deliverable/{{deliverable.name}}/ITC/{{ITC.id}}/delete">
            Delete
          </a>
        </td>
      </tr>
    {% endfor %}
    </tbody>
  </table>

  <br>
  <div class="mdl-grid">
    <div class="mdl-cell mdl-cell--5-col">
      <form action="/site/{{site.name}}/projects/{{project.name}}/ITP/{{ITP.name}}/deliverable/{{deliverable.name}}">
        <input type="submit" value="Back" class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent">
        </input>
      </form>
    </div>

    <div class="mdl-cell mdl-cell--6-col">
      <form action="/generic/ITC/new">
        <input type="submit" value="Create a New ITC" class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent">
        </input>
      </form>
    </div>

    <div class="mdl-cell mdl-cell--1-col" style="float:right;">
      <form action="/site/{{site.name}}/projects/{{project.name}}/ITP/{{ITP.name}}/deliverable/{{deliverable.name}}/ITC/add">
        <input type="submit" value="Add ITC" class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent">
        </input>
      </form>
    </div>
  </div>


{% endblock %}
