{% extends 'layout.html' %}

  {% block content %}
  <div class="mdl-grid">
    <div class="mdl-cell mdl-cell--12-col">
      {% from "flask_user/_macros.html" import render_field, render_checkbox_field, render_submit_field %}
      <h3>{%trans%}User profile{%endtrans%}</h3>

      <p><b>First Name:</b> {{current_user.first_name}}</p>
      <p><b>Last Name:</b> {{current_user.last_name}}</p>
      <p><b>Sites:</b>
        {% for site in current_user.sites %}
          {{ site }}
        {% endfor %}
      </p>
      <p><b>Roles:</b>
        {% for role in current_user.roles %}
          {{ role }}
        {% endfor %}
      </p>

      {% if user_manager.enable_change_username %}
      <p><a class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" href="{{ url_for('user.change_username') }}">{%trans%}Change username{%endtrans%}</a></p>
      {% endif %}
      {% if user_manager.enable_change_password %}
      <p><a class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" href="{{ url_for('user.change_password') }}">{%trans%}Change password{%endtrans%}</a></p>
      {% endif %}
    </div>
  </div>

  {% endblock %}
