{% extends 'flask_user/public_base.html' %}

{% block content %}

  {% from "security/_macros.html" import render_field_with_errors, render_field %}
  <!-- {% include "security/_messages.html" %} -->
  <div class="mdl-card" style="width:100%;">
    <div>
      <div class="mdl-card__title">
        <h2>{{ _('Login') }}</h2>
      </div>
      <div class="mdl-card__actions">
        <form action="{{ url_for_security('login') }}" method="POST" name="login_user_form">
          {{ login_user_form.hidden_tag() }}
          <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-cell mdl-cell--12-col">
            {{ login_user_form.email(class="form-control mdl-textfield__input", autocomplete="on") }}
            <label class="mdl-textfield__label">Email</label>
          </div>
          {% if login_user_form.email.errors %}
            {% for error in login_user_form.email.errors %}
                <span>{{ error }}</span>
            {% endfor %}
          {% endif %}
          <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-cell mdl-cell--12-col">
            {{ login_user_form.password(class="form-control mdl-textfield__input", autocomplete="on") }}
            <label class="mdl-textfield__label">Password</label>
          </div>
          {% if login_user_form.password.errors %}
            {% for error in login_user_form.password.errors %}
                <span>{{ error }}</span>
            {% endfor %}
          {% endif %}
          <label class="mdl-checkbox mdl-js-checkbox">
            {{ render_field_with_errors(login_user_form.remember) }}
          </label>
          {{ render_field(login_user_form.next) }}
          {{ render_field(login_user_form.submit) }}
        </form>
          {% include "security/_menu.html" %}
      </div>
    </div>
  </div>

<script>
    document.getElementById("remember").setAttribute("class", "mdl-checkbox__input check")
    document.getElementById("submit").setAttribute("class", "mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent")
</script>

{% endblock %}
