{% extends "layout.html" %}
{% block title %}- {{project.name}}{% endblock %}
{% block content %}
  <div class="mdl-grid">
    <h3 class="mdl-cell mdl-cell--11-col mdl-cell--3-col-phone">Inspection and Test Plan</h3>

    <div class="mdl-cell mdl-cell--1-col mdl-cell--1-col-phone">
      <a id="tooltip1" class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored"
      href="{{url_for('site_project_ITP_edit', siteid=site.id, projectid=project.id, ITPid=ITP.id)}}">
        <div class="material-icons" style="height: 10px; width: 10px;">edit</div>
        <div class = "mdl-tooltip" for = "tooltip1">Edit</div>
      </a>
    </div>

    <div class="mdl-cell mdl-cell--3-col mdl-grid mdl-cell--4-col-phone" style="margin: 0px 0px 0px 0px">
      <div class="mdl-cell mdl-cell--2-col mdl-cell--1-col-phone">
        <a id="tooltip2" href="{{url_for('site_project_ITP_delete', siteid=site.id, projectid=project.id, ITPid=ITP.id)}}">
          <div class="material-icons">delete</div>
          <div class = "mdl-tooltip" for = "tooltip2">Delete</div>
        </a>
      </div>

      <div class="mdl-cell mdl-cell--2-col mdl-cell--1-col-phone">
        <a id="tooltip3" href="{{ url_for('ITP_report_page', siteid=site.id, projectid=project.id, ITPid=ITP.id) }}" target="_blank">
          <div class="material-icons">file_download</div>
          <div class = "mdl-tooltip" for = "tooltip3">Download Report</div>
        </a>
      </div>
    </div>
  </div>

  <div class="mdl-grid">
    <div class="mdl-cell mdl-cell--6-col">
      <div class="mdl-cell mdl-cell--12-col mdl-shadow--4dp mdl-typography--text-center">
        <div class="mdl-card__title">
          <h2 class="mdl-card__title-text">Details</h2>
        </div>
        <div class="table-responsive">
          <table class="mdl-data-table mdl-js-data-table" style="width:100%;table-layout:fixed;white-space: normal;">
            <tbody>
              <tr>
                <th class="mdl-data-table__cell--non-numeric">Job number</th>
                <td class="mdl-data-table__cell--non-numeric">#{{project.job_number}}</td>
              </tr>
              <tr>
                <th class="mdl-data-table__cell--non-numeric">ITP name</th>
                <td class="mdl-data-table__cell--non-numeric">{{ITP.name}}</td>
              </tr>
              <tr>
                <th class="mdl-data-table__cell--non-numeric">Start Date</th>
                <td class="mdl-data-table__cell--non-numeric">{{project.start_date.strftime('%d-%m-%Y')}}</td>
              </tr>
              {% if project.completion_date != None %}
                <tr>
                  <th class="mdl-data-table__cell--non-numeric">Completion Date</th>
                  <td class="mdl-data-table__cell--non-numeric">{{project.completion_date.strftime('%d-%m-%Y')}}</td>
                </tr>
              {% endif %}
              {% if project.user != none %}
                <tr>
                  <th class="mdl-data-table__cell--non-numeric">Assigned To</th>
                  <td class="mdl-data-table__cell--non-numeric">{{project.user.first_name}}</td>
                </tr>
              {% endif %}
              <tr>
                <th class="mdl-data-table__cell--non-numeric">Inspection and Test Checks Completed</th>
                <td class="mdl-data-table__cell--non-numeric">{{totals[1]}}/{{totals[0]}}</td>
              </tr>
              <tr>
                <th class="mdl-data-table__cell--non-numeric">Deliverables</th>
                <td class="mdl-data-table__cell--non-numeric">
                  {% if ITP == None %}
                    <a href="{{url_for('site_project_ITP_deliverable_new', siteid=site.id, projectid=project.id, ITPid=ITP.id)}}">
                      Create a new Deliverable
                    </a>
                  {% else %}
                    <a href="{{url_for('site_project_ITP_deliverable_list', siteid=site.id, projectid=project.id, ITPid=ITP.id)}}">
                      Deliverables
                    </a>
                  {% endif %}
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>

    <div class="mdl-cell mdl-cell--6-col">
      <div class="mdl-cell mdl-cell--12-col mdl-shadow--4dp mdl-typography--text-center">
        <div class="mdl-card__title">
          <h2 class="mdl-card__title-text">Deliverable List</h2>
        </div>
        <div class="table-responsive">
          <table class="mdl-data-table mdl-js-data-table" style="width: 100%">
            <thead>
              <tr>
                <th class="mdl-data-table__cell--non-numeric">Name</th>
                <th class="mdl-data-table__cell--non-numeric">Type</th>
                <th class="mdl-data-table__cell--non-numeric">Status</th>
                <th class="mdl-data-table__cell--non-numeric">Complete</th>
              </tr>
            </thead>
            <tbody id="tbody">
              {% for deliverable in deliverables_list.items %}
                <tr>
                  <td class="mdl-data-table__cell--non-numeric">
                    <a href="{{url_for('site_project_ITP_deliverable', siteid=site.id, projectid=project.id, ITPid=ITP.id, deliverableid=deliverable.id)}}">
                      {{deliverable.name}}
                    </a>
                  </td>
                  <td class="mdl-data-table__cell--non-numeric">{{deliverable.type}}</th>
                  <td class="mdl-data-table__cell--non-numeric">{{deliverable.status}}</td>
                  <td class="mdl-data-table__cell--non-numeric">{{'%0.0f' %deliverable.percentage_complete}}%</td>
                </tr>
              {% endfor %}
            </tbody>
            <col style="width:10%">
            <col style="width:80%">
            <col style="width:10%">
            <tbody>
              <tr>
                <div id="pagination">
                  <td>
                    <div style="text-align: left;">
                      <a id="previous" href="#" style="display: none">
                        <i class="material-icons mdl-list__item-icon" style="color: rgb(68,138,255);">chevron_left</i>
                      </a>
                    </div>
                  </td>
                  {% if deliverables_list.next_num %}
                    <td colspan="2">
                      <div style="text-align: center;">
                        <span id="page" >{{deliverables_list.page}}</span>
                      </div>
                    </td>
                    <td>
                      <div style="text-align: right;">
                        <a id="next" href="#">
                          <i class="material-icons mdl-list__item-icon" style="color: rgb(68,138,255);">chevron_right</i>
                        </a>
                      </div>
                    </td>
                  {% endif%}
                </div>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>

    <div class="mdl-cell mdl-cell--12-col">
      <div class="mdl-cell mdl-cell--12-col mdl-shadow--4dp mdl-typography--text-center">
        <div class="mdl-card__title">
          <h2 class="mdl-card__title-text">Inspection and Testing Checks</h2>
        </div>
        <div class="table-responsive">
          <table class="mdl-data-table mdl-js-data-table" style="width: 100%">
            <col style="width:20%">
            <col style="width:40%">
            <col style="width:20%">
            <col style="width:10%">
            <col style="width:10%">
            <thead>
              <tr>
                <th class="mdl-data-table__cell--non-numeric">Deliverable Name</th>
                <th class="mdl-data-table__cell--non-numeric">Name</th>
                <th class="mdl-data-table__cell--non-numeric">Type</th>
                <th class="mdl-data-table__cell--non-numeric">Status</th>
                <th class="mdl-data-table__cell--non-numeric">Complete</th>
              </tr>
            </thead>
            <tbody id="tbody1">
              {% for ITC in ITCs.items %}
                <tr>
                  <td class="mdl-data-table__cell--non-numeric">{{ITC.deliverable.name}}</td>
                  <td class="mdl-data-table__cell--non-numeric">
                    <a href="{{url_for('ITC_testing', siteid=site.id, projectid=project.id, ITPid=ITP.id, deliverableid=ITC.deliverable.id, ITCid=ITC.id)}}">
                      {{ITC.ITC.name}}
                    </a>
                  </td>
                  {% if ITC.ITC.deliverable_type %}
                    <td class="mdl-data-table__cell--non-numeric">{{ITC.ITC.deliverable_type.name}}</td>
                  {% else %}
                    <td class="mdl-data-table__cell--non-numeric">no deliverable_type</td>
                  {% endif %}
                  <td class="mdl-data-table__cell--non-numeric">{{ITC.status}}</td>
                  <td class="mdl-data-table__cell--non-numeric">{{'%0.0f' %ITC.percentage_complete}}%</td>
                </tr>
              {% endfor %}
            </tbody>
            <col style="width:10%">
            <col style="width:80%">
            <col style="width:10%">
            <tbody>
              <tr>
                <div id="pagination1">
                  <td>
                    <div style="text-align: left;">
                      <a id="previous1" href="#" style="display: none;">
                        <i class="material-icons mdl-list__item-icon" style="color: rgb(68,138,255);">
                          chevron_left
                        </i>
                      </a>
                    </div>
                  </td>
                  {% if ITCs.next_num %}
                    <td colspan="3">
                      <div style="text-align: center;">
                        <span id="page1" >{{ITCs.page}}</span>
                      </div>
                    </td>
                    <td>
                      <div style="text-align: right;">
                        <a id="next1" href="#">
                          <i class="material-icons mdl-list__item-icon" style="color: rgb(68,138,255);">
                            chevron_right
                          </i>
                        </a>
                      </div>
                    </td>
                  {% endif%}
                </div>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

  <div class="mdl-cell mdl-cell--6-col">
    <form action="{{url_for('site_project', siteid=site.id, projectid=project.id)}}">
      <input type="submit" value="Return" class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent">
      </input>
    </form>
  </div>

  <script>
    $(document).ready(function(){
      $("a#previous").click(function(e){
        e.preventDefault();
        $.get("/_filter_deliverables_list", {siteid: "{{site.id}}",
                                  projectid: "{{project.id}}",
                                  page: (parseInt($("#page").html()) - 1),
                                  ITPid: "{{ITP.id}}"},
        function(data){
          $("#tbody").html(data['results']);
          $("#page").html(data['page']);
          var page_number = $('page_number').data()
          if (data['page'] == 1){
            $('#previous').hide()
          }
          if (data['page'] != data['pages']){
            $('#next').show()
          }
        });
      });
    });

    $(document).ready(function(){
      $("a#next").click(function(e){
        e.preventDefault();
        $.get("/_filter_deliverables_list", {siteid: "{{site.id}}",
                                  projectid: "{{project.id}}",
                                  page: (parseInt($("#page").html()) + 1),
                                  ITPid: "{{ITP.id}}"},
        function(data){
          $("#tbody").html(data['results']);
          $("#page").html(data['page']);
          if (data['page'] == data['pages']){
            $('#next').hide()
          }
          if (data['page'] != 1) {
            $('#previous').show()
          }
        });
      });
    });

    $(document).ready(function(){
      $("a#previous1").click(function(e){
        e.preventDefault();
        $.get("/_filter_ITCs_list", {siteid: "{{site.id}}",
                                  projectid: "{{project.id}}",
                                  page: (parseInt($("#page1").html()) - 1),
                                  ITPid: "{{ITP.id}}"},
        function(data){
          $("#tbody1").html(data['results']);
          $("#page1").html(data['page']);
          var page_number = $('page_number').data()
          if (data['page'] == 1){
            $('#previous1').hide()
          }
          if (data['page'] != data['pages']){
            $('#next1').show()
          }
        });
      });
    });

    $(document).ready(function(){
      $("a#next1").click(function(e){
        e.preventDefault();
        $.get("/_filter_ITCs_list", {siteid: "{{site.id}}",
                                  projectid: "{{project.id}}",
                                  page: (parseInt($("#page1").html()) + 1),
                                  ITPid: "{{ITP.id}}"},
        function(data){
          $("#tbody1").html(data['results']);
          $("#page1").html(data['page']);
          if (data['page'] == data['pages']){
            $('#next1').hide()
          }
          if (data['page'] != 1) {
            $('#previous1').show()
          }
        });
      });
    });
  </script>

{% endblock %}
