{% extends "layout.html" %}
{% block content %}
  <h2>Sites</h2>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Name</th>
        <th>Assets</th>
        <th>Issues</th>
        <th>Highest Priority</th>
      </tr>
    </thead>
    <tbody>
      {% for site in sites %}
        <tr>
          <th scope="row"><a href="/site/{{site.name}}">{{site.name}}</a></th>
          <td>{{site.assets|length}}</td>
          <td>{{issues[site.name]}}</td>
          <td>{{priority[site.name]}}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}