{% extends "layout.html" %}
{% block content %}
  <head>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
      google.charts.load('current', {'packages':['corechart']});
      google.charts.setOnLoadCallback(drawChart);

      function drawChart() {
        var data = google.visualization.arrayToDataTable([
          ['Time'
          {% for site in sites %}
            , '{{site.name}}'
          {% endfor %}
          ]
          {% for timestamp in history %}
            ,[new Date({{ timestamp.timestamp|date_to_millis }})
            {% for site_issues in timestamp.issues %}
              ,  {{site_issues.issues}}
            {% endfor %}
            ]
          {% endfor %}
        ]);

        var options = {
          isStacked: true,
          title: 'Site Issues',
          hAxis: {title: 'Time',  titleTextStyle: {color: '#333'}},// ticks: [new Date(2017,1,27,9), new Date(2017,1,27,10), new Date(2017,1,27,11), new Date(2017,1,27,12)] },
          vAxis: {minValue: 0}
        };

        var chart = new google.visualization.AreaChart(document.getElementById('chart_div'));
        chart.draw(data, options);
      }
    </script>
  </head>
  <body>
    <h2>All Unresolved Issues</h2>
    <div id="chart_div" style="width: 100%; height: 900px;"></div>
  </body>
{% endblock %}