{% extends "layout.html" %}
{% block content %}
  <h3>New ITC</h3>

  {% if error %}
    <p class="error" style="color: firebrick;"><strong>Error:</strong> {{ error }}</p>
  {% endif %}
  <br>

  <div>
    {% if redirect_url != None %}
      <form action="{{url_for('ITC_general_new', redirect_url=redirect_url)}}">
    {% else %}
      <form action="{{url_for('ITC_general_new')}}" method="POST">
    {% endif %}
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-cell--12-col">
          <input type="text" name="ITC_name" class="mdl-textfield__input">
          <label class="mdl-textfield__label">ITC Name</label>
        </div>
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-cell--12-col">
          <select name="deliverable_type" class="mdl-textfield__input">
            {% for deliverable in deliverables %}
              <option value={{deliverable.id}}>{{deliverable.name}}</option>
            {% endfor %}
          </select>
          <label class="mdl-textfield__label">Deliverable Type</label>
        </div>
        <input type="submit" value="Create ITC" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
      </form>

    <br>

    <div>
      {% if redirect_url != None %}
        <form action="{{redirect_url}}" method="GET">
      {% else %}
        <form action="{{url_for('ITC_general_list')}}" method="GET">
      {% endif %}
        <input type="submit" value="Return" class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent">
        </input>
      </form>
    </div>
  </div>

{% endblock %}
