{% extends "layout.html" %}
{% block content %}
  <h3>Generic ITC list</h3>

  <div class="mdl-cell mdl-cell--12-col mdl-grid">
      <table class="mdl-data-table mdl-js-data-table mdl-cell--12-col" >
        <thead>
          <tr>
            <th class="mdl-data-table__cell--non-numeric">Name</th>
            <th class="mdl-data-table__cell--non-numeric">Deliverable Type</th>
            <th class="mdl-data-table__cell--non-numeric"></th>
          </tr>
        </thead>
        <tbody>
          {% for ITC in ITCs %}
            <tr>
              <td class="mdl-data-table__cell--non-numeric">
                <a href="/generic/ITC/{{ITC.id}}">
                  {{ITC.name}}
                </a>
              </td>
              <td class="mdl-data-table__cell--non-numeric">{{ITC.deliverable_type}}</td>
              <td class="mdl-data-table__cell--non-numeric" style="width:10%;">
                <a href="/generic/ITC/{{ITC.id}}/edit">
                  Edit
                </a>/
                <a href="/generic/ITC/{{ITC.id}}/delete">
                  Delete
                </a>
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>

      <div style="margin-top: 2%">
        <form action="/generic/ITC/new">
          <input type="submit" value="New ITC" class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent">
          </input>
        </form>
      </div>

  </div>

  <div class="mdl-cell mdl-cell--12-col mdl-grid">
    <form action="/generic" method="GET">
      <input type="submit" value="Return" class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent">
      </input>
    </form>
  </div>

{% endblock %}
