{% extends "layout.html" %}
{% block content %}
  <div class="mdl-grid">
      <h3 class="mdl-cell mdl-cell--11-col">Generic ITC - {{ITC.name}}</h3>

      <div class="mdl-cell mdl-cell--1-col">
        <a id="tooltip1" class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored" href="/generic/ITC/{{ITC.id}}/check/new">
          <div class="material-icons" style="height: 10px; width: 10px;">add</div>
          <div class = "mdl-tooltip" for = "tooltip1">Add Check</div>
        </a>
      </div>
    </div>

  <div class="mdl-cell mdl-cell--12-col mdl-grid">
      <table class="mdl-data-table mdl-js-data-table mdl-cell--12-col" >
        <thead>
          <tr>
            <th class="mdl-data-table__cell--non-numeric">Description</th>
            <th class="mdl-data-table__cell--non-numeric"></th>
          </tr>
        </thead>
        <tbody>
          {% for check in checks %}
            <tr>
              <td class="mdl-data-table__cell--non-numeric">{{check.check.check_description}}</td>
              <td class="mdl-data-table__cell--non-numeric" style="width:10%;">
                <a href="/generic/ITC/{{ITC.id}}/check/{{check.id}}/edit">
                  Edit
                </a>/
                <a href="/generic/ITC/{{ITC.id}}/check/{{check.id}}/delete">
                  Delete
                </a>
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>

      <div class="mdl-cell mdl-cell--6-col">
        <form action="/generic/ITC" method="GET">
          <input type="submit" value="Return" class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent">
          </input>
        </form>
      </div>
    </div>

{% endblock %}
