{% extends "layout.html" %}
{% block content %}
  <h3>Are You Sure You Want To Delete {{ ITC.name }}?</h3>

  <div>
    <div>
      <form action="/generic/ITC/{{ITC.id}}/delete" method="POST">
        <input type="submit" value="Delete" class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent">
        </input>
      </form>
    </div>

    <div>
      <form action="/generic/ITC" method="GET">
        <input type="submit" value="Return" class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent">
        </input>
      </form>
    </div>
  </div>

{% endblock %}
