{% extends "layout-empty.html" %}
{% block content %}
  <div style="width: 80%; margin: auto">
    <div class="mdl-grid">
      <h3 class="mdl-cell mdl-cell--11-col">Generic check list</h3>

      <div class="mdl-cell mdl-cell--1-col">
        <a id="tooltip1" class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored" href="/generic/check/new">
          <div class="material-icons" style="height: 10px; width: 10px;">add</div>
          <div class = "mdl-tooltip" for = "tooltip1">New check</div>
        </a>
      </div>

    </div>

    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-cell mdl-cell--2-col">
      <input type="text" id="descripfil" class="form-control mdl-textfield__input">
      <label class="mdl-textfield__label">Check Description</label>
    </div>

    <table class="mdl-data-table mdl-js-data-table  mdl-cell mdl-cell--12-col">
      <thead>
        <tr>
          <th class="mdl-data-table__cell--non-numeric">id</th>
          <th class="mdl-data-table__cell--non-numeric">Description</th>
          <th class="mdl-data-table__cell--non-numeric"></th>
        </tr>
      </thead>
      <tbody id="tbody">
      {% for check in checks.items %}
        <tr>
          <td class="mdl-data-table__cell--non-numeric">{{check.id}}</th>
          <td class="mdl-data-table__cell--non-numeric">{{check.check_description}}</td>
          <td class="mdl-data-table__cell--non-numeric">
            <a href="/generic/check/{{check.id}}/edit">
              Edit
            </a>/
            <a href="/generic/check/{{check.id}}/delete">
              Delete
            </a>
          </td>
        </tr>
      {% endfor %}
      </tbody>
    </table>

    <div id="pagination" class="mdl-cell mdl-cell--12-col">
      <a id="previous" class="mdl-cell mdl-cell--4-col" href="#" style="display: none">&lt;</a>
      <p id="page" class="mdl-cell mdl-cell--4-col">{{checks.page}}</p>
      <a id="next" class="mdl-cell mdl-cell--4-col" href="#">&gt;</a>
    </div>

    <script>
      $(document).ready(function(){
        $("#descripfil").change(function(){
          $.get("/_filter_checks", {description: $('#descripfil').val()},
          function(data){
            $("#tbody").html(data['results']);
            $("#page").html(data['page']);
            if (data['page'] == 1){
              $('#previous').hide()
            }
            if (data['page'] == data['pages']){
              $('#next').hide()
            }
            if (data['page'] != data['pages']){
              $('#next').show()
            }
          });
        });
      });

      $(document).ready(function(){
        $("a#previous").click(function(e){
          e.preventDefault();
          $.get("/_filter_checks", {description: $('#descripfil').val(),
                                    page: (parseInt($("#page").html()) - 1)},
          function(data){
            $("#tbody").html(data['results']);
            $("#page").html(data['page']);
            var page_number = $('page_number').data()
            if (data['page'] == 1){
              $('#previous').hide()
            }
            if (data['page'] != data['pages']){
              $('#next').show()
            }
          });
        });
      });

      $(document).ready(function(){
        $("a#next").click(function(e){
          e.preventDefault();
          $.get("/_filter_checks", {description: $('#descripfil').val(),
                                    page: (parseInt($("#page").html()) + 1)},
          function(data){
            $("#tbody").html(data['results']);
            $("#page").html(data['page']);
            if (data['page'] == data['pages']){
              $('#next').hide()
            }
            if (data['page'] != 1) {
              $('#previous').show()
            }
          });
        });
      });
    </script>

    <br>

    <div>
      <form action="/generic" method="GET">
        <input type="submit" value="Return" class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent">
        </input>
      </form>
    </div>
  </div>


{% endblock %}
