{% extends "layout-empty.html" %}
{% block content %}
  <div style="width: 80%; margin: auto">
    <div class="mdl-grid">
      <h3 class="mdl-cell mdl-cell--11-col">Generic check list</h3>

      <div class="mdl-cell mdl-cell--1-col">
        <a id="tooltip1" class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored" href="/generic/check/new">
          <div class="material-icons" style="height: 10px; width: 10px;">add</div>
          <div class = "mdl-tooltip" for = "tooltip1">New check</div>
        </a>
      </div>

    </div>

    <table class="mdl-data-table mdl-js-data-table" style="width: 100%">
      <thead>
        <tr>
          <th class="mdl-data-table__cell--non-numeric">id</th>
          <th class="mdl-data-table__cell--non-numeric">Description</th>
          <th class="mdl-data-table__cell--non-numeric"></th>
        </tr>
      </thead>
      <tbody>
      {% for check in checks %}
        <tr>
          <td class="mdl-data-table__cell--non-numeric">{{check.id}}</th>
          <td class="mdl-data-table__cell--non-numeric">{{check.check_description}}</td>
          <td class="mdl-data-table__cell--non-numeric">
            <a href="/generic/check/{{check.id}}/edit">
              Edit
            </a>/
            <a href="/generic/check/{{check.id}}/delete">
              Delete
            </a>
          </td>
        </tr>
      {% endfor %}
      </tbody>
    </table>

    <br>

    <div>
      <form action="/generic" method="GET">
        <input type="submit" value="Return" class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent">
        </input>
      </form>
    </div>
  </div>


{% endblock %}
