/* Nav bar */
.mdl-layout__header-row {
  color: white;
}

.mdl-layout__header-row .mdl-navigation__link {
  color: white;
}

.navlink-manual {
  text-decoration: none;
  color: white;
}

@media screen and (max-width: 1400px){
  nav.largeNav{
    display: none !important;
  }
}

@media screen and (min-width: 1400px){
  div.smallNav{
    display: none !important;
  }
}

#schnLogo{
  height: 100%;
}

.logo {
  font-family: 'Varela Round', sans-serif;
  height: 100%;
  padding-left: 2%;
}

/*Footer*/
.mdl-mini-footer {
   height: 40px;
   padding-top: 15px;
}

/*layout*/
.full-width {
  width: 100%;
}

.wrap-text td {
  white-space: normal;
}

.mdl-data-table {
  white-space: normal;
}

.formfields
{
  background-color: transparent;
  border-spacing: 0;
  border-collapse: collapse;
  border-top: 1px solid #ddd;
  border: none;
}

.formfields td
{
  padding: .5em 2em .5em 0em;
  vertical-align: top;
  text-align: left;
  border: none;
}

.checkbox-list {
  line-height: 30px;
}

.centered {
  display: flex;
  align-items: center;
  justify-content: center;
}

.shiftdown {
  top: 5px;
}

/* list sorting */

th.sort {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  min-width: 75px;
}
th.sort:hover {
  cursor: pointer;
  text-decoration: none;
}
th.sort:focus {
  outline: none;
}
th.sort:after {
  display: inline-block;
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid transparent;
  content: "";
  position: relative;
  top: -10px;
  right: -5px;
}
th.sort.asc:after {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #000;
  content: "";
  position: relative;
  top: 4px;
  right: -5px;
}
th.sort.desc:after {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid #000;
  content: "";
  position: relative;
  top: -4px;
  right: -5px;
}

/* stuff for pie chart + animation */

.circle_animation {
  stroke-dasharray: 2.5;
  stroke-dashoffset: 0;
}

.circle_animation {
    -webkit-animation: circle_animation 1s ease-in forwards;
    animation: circle_animation 1s ease-in forwards;
}

@-webkit-keyframes circle_animation {
  to {
    stroke-dashoffset: 2.5;
  }
}

@keyframes circle_animation {
  to {
    stroke-dashoffset: -2.5;
  }
}

.page-title {
  padding-bottom: 0.5em;
}

.error {
  color: red;
}
