[Unit]
Description=config download for medusa
After=network.target

[Service]
Type=oneshot
User=www-data
Group=www-data
WorkingDirectory=/var/www/medusa
Environment="PATH=/var/www/medusa/env/bin"
ExecStart=/var/www/medusa/env/bin/python3 /var/www/medusa/download_config.py

[Install]
WantedBy=multi-user.target

