{% extends "layout.html" %}
{% block content %}
  <h2>Add Asset</h2>
  <form action="{{ url_for('add_asset_submit', sitename=site.name) }}" method=post>
    <table class=formfields>
      <tr>
        <td>Type:</td>
        <td><select name=type id=type_list>
          {% for asset_type in asset_types %}
            <option value="{{asset_type.name}}">{{asset_type.name}}</option>
          {% endfor %}
        </select></td>
      </tr>
      <tr>
        <td>Subtype:</td>
        <td><select name=subtype id=subtype_list></select></td>
      </tr>
      <tr>
        <td>Name:</td>
        <td><input type=text size=30 name=name></td>
      </tr>
      <tr>
        <td>Location:</td>
        <td><input type=text size=30 name=location></td>
      </tr>
      <tr>
        <td>Group:</td>
        <td><input type=text size=30 name=group></td>
      </tr>
    </table>
    <br>
    Components:<br>
    <table id=component_section class=formfields>
    </table>
    <br>
    Exclude Algorithms:<br>
    <table id=exclusion_section class=formfields>
    </table>
    <br>
    <input type=submit value=Submit>
  </form>
  <script type="text/javascript">
    $(function() {

      $('#type_list').prop("selectedIndex", -1);

      $('#type_list').change(function() {
        $.getJSON($SCRIPT_ROOT + '{{ url_for('return_subtypes', sitename=site.name) }}', {
          type: $('select[name="type"]').val(),
        }, function(data) {
          var subtype_list = $('#subtype_list');
          subtype_list.html('');
          $.each(data, function() {
            subtype_list.append($('<option />').val(this).text(this));
          })
          subtype_list.prop("selectedIndex", -1);
        });
        return false;
      });

      $('#subtype_list').change(function() {

        $.getJSON($SCRIPT_ROOT + '{{ url_for('return_components', sitename=site.name) }}', {
          type: $('select[name="type"]').val(),
          subtype: $('select[name="subtype"]').val(),
        }, function(component_data) {

          $.getJSON($SCRIPT_ROOT + '{{ url_for('return_loggedentities', sitename=site.name) }}', {
            type: $('select[name="type"]').val(),
          }, function(loggedentity_data) {

            var $loglist = $('<select name=log class=dropdown></select>')
            $.each(loggedentity_data, function() {
              $loglist.append($('<option />').val(this).text(this));
            })

            var component_section = $('#component_section');
            component_section.html('');
            var i = 1;
            $.each(component_data, function() {
              var $component_row = $('<tr>');
              var $checkbox_col = $('<td>');
              var $dropdown_col = $('<td>');
              $checkbox_col.append($('<input type="checkbox" class="component" checked/>').val(this).attr('name', 'component' + i));
              $checkbox_col.append(' ' + this);
              $dropdown_col.append($loglist.clone().attr('name', 'log' + i));
              $component_row.append($checkbox_col);
              $component_row.append($dropdown_col);
              component_section.append($component_row);
              i = i + 1;
            })
            
            $('.dropdown').prop("selectedIndex", -1)

          });

        });

        $.getJSON($SCRIPT_ROOT + '{{ url_for('return_exclusions', sitename=site.name) }}', {
          type: $('select[name="type"]').val(),
          subtype: $('select[name="subtype"]').val(),
        }, function(data) {
          var exclusion_section = $('#exclusion_section')
          exclusion_section.html('')
          $.each(data, function() {
            var $exclusion_row = $('<td>');
            $exclusion_row.append($('<input type="checkbox" name="exclusion"/>').val(this));
            $exclusion_row.append(' ' + this);
            exclusion_section.append($('<tr>').append($exclusion_row));
          })
        });

        return false;
      });

    });
  </script>
{% endblock %}