{% extends "layout.html" %}
{% block content %}
  <h2>Add Subtype</h2>
  <form action="{{ url_for('add_subtype_submit', sitename=site.name) }}" method=post>
    <table class=formfields>
      <tr>
        <td>Type:</td>
        <td><select name=type id=type_list>
          {% for asset_type in asset_types %}
            <option value="{{asset_type.name}}">{{asset_type.name}}</option>
          {% endfor %}
        </select></td>
      </tr>
      <tr>
        <td>Name:</td>
        <td><input type=text size=30 name=name autocomplete=off></td>
      </tr>
    <br>
    Components:<br>
    <table id=component_section class=formfields>
      {% for component_type in component_type_list %}
        <tr><td><input type=hidden type="checkbox" name="{{component_type.name}}" value="{{component_type.name}}"/></td></tr>
      {% endfor %}
    </table>
    <br>
    <input type=submit value=Submit>
  </form>
{% endblock %}