{% extends "layout.html" %}
{% block content %}
    <form action="{{ url_for('add_site_submit') }}" method=post>

      <h3>Add Site</h3>
      <table class=full-width>
        <tr>
          <td style="width:250px"><h4>Name:</h4></td>
          <td><div class="mdl-textfield mdl-js-textfield">
            <input class="mdl-textfield__input" type="text" name="name" autocomplete="off" id="name">
            <label class="mdl-textfield__label" for="name"></label>
          </div></td>
        </tr>
      </table>

      <br>
      <h3>WebReports Connection</h3>
      <table class=full-width>
        <tr>
          <td style="width:250px"><h4>Username:</h4></td>
          <td><div class="mdl-textfield mdl-js-textfield">
            <input class="mdl-textfield__input" type="text" name="db_username" autocomplete="off" id="db_username">
            <label class="mdl-textfield__label" for="db_username"></label>
          </div></td>
        </tr>
        <tr>
          <td style="width:250px"><h4>Password:</h4></td>
          <td><div class="mdl-textfield mdl-js-textfield">
            <input class="mdl-textfield__input" type="text" name="db_password" autocomplete="off" id="db_password">
            <label class="mdl-textfield__label" for="db_password"></label>
          </div></td>
        </tr>
        <tr>
          <td style="width:250px"><h4>Server Address:</h4></td>
          <td><div class="mdl-textfield mdl-js-textfield">
            <input class="mdl-textfield__input" type="text" name="db_address" autocomplete="off" id="db_address">
            <label class="mdl-textfield__label" for="db_address"></label>
          </div></td>
        </tr>
        <tr>
          <td style="width:250px"><h4>Port:</h4></td>
          <td><div class="mdl-textfield mdl-js-textfield">
            <input class="mdl-textfield__input" type="text" name="db_port" autocomplete="off" id="db_port">
            <label class="mdl-textfield__label" for="db_port"></label>
          </div></td>
        </tr>
        <tr>
          <td style="width:250px"><h4>Database Name:</h4></td>
          <td><div class="mdl-textfield mdl-js-textfield">
            <input class="mdl-textfield__input" type="text" name="db_name" autocomplete="off" id="db_name">
            <label class="mdl-textfield__label" for="db_name"></label>
          </div></td>
        </tr>
      </table>

      <br><br>
      <input type=submit value=Submit class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
    </form>
{% endblock %}