{% extends "layout.html" %}
{% block content %}
    <h3>Add Site</h3>
    <form action="{{ url_for('add_site_submit') }}" method=post>
      <table class=full-width>
        <tr>
          <td style="width:250px"><h4>Name:</h4></td>
          <td><div class="mdl-textfield mdl-js-textfield">
            <input class="mdl-textfield__input" type="text" name="name" autocomplete="off" id="name">
            <label class="mdl-textfield__label" for="name"></label>
          </div></td>
        </tr>
        <tr>
          <td><h4>Database Key:</h4></td>
          <td><div class="mdl-textfield mdl-textfield--full-width mdl-js-textfield">
            <input class="mdl-textfield__input" type="text" name="database_key" autocomplete="off" id="database_key">
            <label class="mdl-textfield__label" for="database_key"></label>
          </div></td>
        </tr>
      </table>
      <br><br>
      <input type=submit value=Submit class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
    </form>
{% endblock %}