{% extends "layout.html" %}
{% block head %}
  <meta id="return_loggedentities" content="{{ url_for('return_loggedentities', sitename=site.name) }}">
  <meta id="return_points" content="{{ url_for('return_points', sitename=site.name) }}">
  <meta id="return_functions" content="{{ url_for('return_functions', sitename=site.name) }}">
  <meta id="return_algorithms" content="{{ url_for('return_algorithms', sitename=site.name) }}">
{% endblock %}
{% block content %}
  <h3>Add Asset</h3>

  <form action="{{ url_for('add_asset_submit', sitename=site.name) }}" method=post>

    <table>
      <tr>
        <td style="width:250px"><h4>Type:</h4></td>
        <td><div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label getmdl-select getmdl-select__fix-height shiftdown">
          <input class="mdl-textfield__input" type="text" id="type_list" name="type" value="" readonly tabIndex="-1">
          <label for="type_list">
            <i class="mdl-icon-toggle__label material-icons">keyboard_arrow_down</i>
          </label>
          <ul for="type_list" class="mdl-menu mdl-menu--bottom-left mdl-js-menu">
            {% for asset_type in asset_types %}
              <li class="mdl-menu__item" data-val="{{asset_type.name}}">{{asset_type.name}}</li>
            {% endfor %}
          </ul>
        </div></td>
      </tr>
      <tr>
        <td><h4>Name:</h4></td>
        <td><div class="mdl-textfield mdl-js-textfield shiftdown">
            <input class="mdl-textfield__input" type="text" name="name" autocomplete="off" id="name">
            <label class="mdl-textfield__label" for="name"></label>
        </div></td>
      </tr>
      <tr>
        <td><h4>Location:</h4></td>
        <td><div class="mdl-textfield mdl-js-textfield shiftdown">
            <input class="mdl-textfield__input" type="text" name="location" autocomplete="off" id="location">
            <label class="mdl-textfield__label" for="location"></label>
        </div></td>
      </tr>
      <tr>
        <td><h4>Group:</h4></td>
        <td><div class="mdl-textfield mdl-js-textfield shiftdown">
            <input class="mdl-textfield__input" type="text" name="group" autocomplete="off" id="group">
            <label class="mdl-textfield__label" for="group"></label>
        </div></td>
      </tr>
      <tr>
        <td><h4>Priority:</h4></td>
        <td><div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label getmdl-select getmdl-select__fix-height shiftdown">
          <input class="mdl-textfield__input" type="text" id="priority_list" name="priority" value="" readonly tabIndex="-1">
          <label for="priority_list">
            <i class="mdl-icon-toggle__label material-icons">keyboard_arrow_down</i>
          </label>
          <ul for="priority_list" class="mdl-menu mdl-menu--bottom-left mdl-js-menu">
            {% for i in range(0,10) %}
              <li class="mdl-menu__item" data-val="{{i}}">{{i}}</li>
            {% endfor %}
          </ul>
        </div></td>
      </tr>
    </table>

    <h4>Process Functions:</h4>
    <table class="checkbox-list" id="process_function_section"></table>
    <table>
      <tr>
        <td>
          <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label getmdl-select getmdl-select__fix-height shiftdown">
            <input class="mdl-textfield__input" type="text" id="function_list" value="" readonly tabIndex="-1">
            <label for="function_list">
              <i class="mdl-icon-toggle__label material-icons">keyboard_arrow_down</i>
            </label>
            <ul id="function_list_ul" for="function_list" class="mdl-menu mdl-menu--bottom-left mdl-js-menu">
            </ul>
          </div>
        </td>
        <td>
          <button type="button" onclick="addFunction()" class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent">
            Add
          </button>
        </td>
      </tr>
    </table>
    
    <br>
    <h4>Points:</h4>
    <table class="checkbox-list" id="point_section"></table>
    <table>
      <tr>
        <td>
          <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label getmdl-select getmdl-select__fix-height shiftdown">
            <input class="mdl-textfield__input" type="text" id="point_list" value="" readonly tabIndex="-1">
            <label for="point_list">
              <i class="mdl-icon-toggle__label material-icons">keyboard_arrow_down</i>
            </label>
            <ul id="point_list_ul" for="point_list" class="mdl-menu mdl-menu--bottom-left mdl-js-menu">
            </ul>
          </div>
        </td>
        <td>
          <button type="button" onclick="addPoint()" class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent">
            Add
          </button>
        </td>
      </tr>
    </table>

    <br>
    <h4>Algorithms:</h4>
    <div class="checkbox-list" id="algorithm_section"></div>
    <br><br>

    <input type=submit value=Submit class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">

  </form>

  <br><br><br>
  <h3>Add via upload</h3>
  <form action="{{ url_for('add_asset_download', sitename=site.name) }}">
    <input type=submit value="Get Template" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
  </form>

  <br>
  <form action="{{ url_for('add_asset_upload', sitename=site.name) }}" method=post enctype=multipart/form-data>
    <div class="element file mdl-file mdl-js-file mdl-file--floating-label">
      <input type="file" name="file" id="file" accept=".xlsx,.xlsm">
      <label class="mdl-file__label" for="avatar"></label>
    </div>
    <input type=submit value=Upload class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
  </form>

  <script type="text/javascript">

    // set up trend log list
    var $loglist;
    $loglist = $('<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label getmdl-select getmdl-select__fix-height">');
    var $loglist_input = $('<input class="mdl-textfield__input" type="text" id="loglist" value="" readonly tabIndex="-1">');
    var $loglist_label = $('<label for="loglist"><i class="mdl-icon-toggle__label material-icons">keyboard_arrow_down</i></label>')
    var $loglist_ul = $('<ul id="loglist_ul" for="loglist" class="mdl-menu mdl-menu--bottom-left mdl-js-menu">');
    $loglist.append($loglist_input);
    $loglist.append($loglist_label);
    $loglist.append($loglist_ul);

    // point counter
    var i = 1;

    // add a process function to the list
    function addFunction() {
      var function_name = $('#function_list').val();
      var $function_row = $('<tr>');
      var $col = $('<td style="width:250px">');
      $function_row.append($col.clone().append(function_name));
      $function_row.append($col.clone().append('<button type=button onclick="removeFunction(this)">X</button>'));

      // add hidden input to create the actual input
      $function_row.append($('<input type=hidden name="function"/>').val(function_name));

      $('#process_function_section').append($function_row);
    }

    // add a point to the list
    function addPoint() {
      var point_name = $('#point_list').val();
      var $point_row = $('<tr>');
      var $col = $('<td style="width:250px">');
      $point_row.append($col.clone().append(point_name));
      $loglist_input.attr('name', 'log' + i).attr('id', 'loglist' + i);
      $loglist_label.attr('for', 'loglist' + i);
      $loglist_ul.attr('for', 'loglist' + i);
      $point_row.append($col.clone().append($loglist.clone()));
      $point_row.append($col.clone().append('<button type=button onclick="removePoint(this)">X</button>'));

      // add hidden input to match point name with point trend log
      $point_row.append($('<input type=hidden class="point"/>').val(point_name).attr('name', 'point' + i));

      $('#point_section').append($point_row);

      // re-init the dropdown box
      getmdlSelect.init(".getmdl-select");

      i = i + 1;

    }

    // remove a process function from the list
    function removeFunction(e) {
      $(e).parent().parent().remove();
    }

    // remove a point from the list
    function removePoint(e) {
      $(e).parent().parent().remove();
      i = i - 1;
    }

    $(function() {

      // update stuff when a type is selected
      $('#type_list').change(function() {

        // build log list
        $.getJSON($('#return_loggedentities').attr('content'), {
          type: $('#type_list').val(),
        }, function(loglist_data) {
          $.each(loglist_data, function() {
            $loglist_ul.append($('<li class="mdl-menu__item"/>').attr('data-val', this).text(this));
          })
        });

        // build process function list
        $.getJSON($('#return_points').attr('content'), {
          type: $('#type_list').val(),
        }, function(data) {
          var $point_dropdown = $('#point_list_ul')
          $point_dropdown.html('')
          $.each(data, function() {
            $point_dropdown.append($('<li class="mdl-menu__item"/>').attr('data-val', this).text(this));
          })
          // re-init the dropdown box
          getmdlSelect.init(".getmdl-select");
        });

        // build point list
        $.getJSON($('#return_functions').attr('content'), {
          type: $('#type_list').val(),
        }, function(data) {
          var $function_dropdown = $('#function_list_ul')
          $function_dropdown.html('')
          $.each(data, function() {
            $function_dropdown.append($('<li class="mdl-menu__item"/>').attr('data-val', this).text(this));
          })
          // re-init the dropdown box
          getmdlSelect.init(".getmdl-select");
        });

        // build algorithm list
        $.getJSON($('#return_algorithms').attr('content'), {
          type: $('#type_list').val(),
        }, function(data) {
          var algorithm_section = $('#algorithm_section')
          algorithm_section.html('')
          var i = 1;
          $.each(data, function() {
            var $algorithm = $('<label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="algorithm' + i + '">');
            var $algorithm_checkbox = $('<input type="checkbox" name="algorithm" id="algorithm' + i + '" class="mdl-checkbox__input" checked>').val(this);
            var $algorithm_label = $('<span class="mdl-checkbox__label">' + this + '</span>');
            $algorithm.append($algorithm_checkbox);
            $algorithm.append($algorithm_label);
            algorithm_section.append($algorithm);
            i = i + 1;
          })
          // upgrade checkboxes
          componentHandler.upgradeAllRegistered()
        });

        return false;
      });

    });

  </script>
{% endblock %}