{% extends "layout.html" %}
{% block head %}
  <meta id="add_asset_confirm" content="{{ url_for('add_asset_confirm', sitename=site.name) }}">
{% endblock %}
{% block content %}
  <h3>Upload Confirmation</h3>

  <form action='{{ url_for('asset_list', sitename=site.name) }}' onsubmit="sendUpload()">
    <table class="mdl-data-table mdl-js-data-table full-width" id='asset_table'>
      <thead>
        <tr>
          <th class="mdl-data-table__cell--non-numeric">Name</th>
          <th class="mdl-data-table__cell--non-numeric">Type</th>
          <th class="mdl-data-table__cell--non-numeric">Location</th>
          <th class="mdl-data-table__cell--non-numeric">Group</th>
          <th class="mdl-data-table__cell--non-numeric">Priority</th>
        </tr>
      </thead>
      <tbody>
        {% for asset in assets %}
          <tr class='assetrow'>
            <td class="mdl-data-table__cell--non-numeric">{{asset.name}}</td>
            <td class="mdl-data-table__cell--non-numeric">{{asset.type}}</td>
            <td class="mdl-data-table__cell--non-numeric">{{asset.location}}</td>
            <td class="mdl-data-table__cell--non-numeric">{{asset.group}}</td>
            <td class="mdl-data-table__cell--non-numeric">{{asset.priority}}</td>
            <input type='hidden' id='name' name='name' value='{{asset.name}}'>
            <input type='hidden' id='type' name='type' value='{{asset.type}}'>
            <input type='hidden' id='location' name='location' value='{{asset.location}}'>
            <input type='hidden' id='group' name='group' value='{{asset.group}}'>
            <input type='hidden' id='priority' name='priority' value='{{asset.priority}}'>
          </tr>
        {% endfor %}
      </tbody>
    </table>
    <br>
    <input type=button onclick="window.location.href='{{ url_for('add_asset_input', sitename=site.name) }}'" value="Cancel" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
    <input type=submit value=Submit class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
  </form>

  <script type="text/javascript" src="{{ url_for('static', filename='js/asset.js') }}"></script>
{% endblock %}