{% extends "layout.html" %}
{% block content %}
<h3 class="page-title">IT Assets
  {% if current_user.is_authenticated %}
    {% if current_user.has_role('admin') %}
      <a class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored" style="float: right;" href="/site/{{site.name}}/add_it_asset">
        <i class="material-icons">add</i>
      </a>
    {% endif %}
  {% endif %}

</h3>

    <table id="itasset-table" class="mdl-data-table mdl-js-data-table full-width">
      <thead>
        <tr>
          <th class="mdl-data-table__cell--non-numeric sort" data-sort="name">Name</th>
          <th class="mdl-data-table__cell--non-numeric sort" data-sort="operatingsystem">OS</th>
          <th class="mdl-data-table__cell--non-numeric sort" data-sort="platform">Platform</th>
          <th class="mdl-data-table__cell--non-numeric sort" data-sort="ipaddress">IP Address</th>
          <th class="mdl-data-table__cell--non-numeric sort" data-sort="onlinestatus">Online Status</th>
          <th class="mdl-data-table__cell--non-numeric"></th>
        </tr>
      </thead>
      <tbody class="list">
        {% for ITasset in ict_assets %}

            <tr>
              <td class="mdl-data-table__cell--non-numeric name"><a href="itasset_details/{{ITasset.id}}">{{ITasset.minion_name}}</a></td>
              <td id="test" class="mdl-data-table__cell--non-numeric operatingsystem">{{ITasset.operating_system}}</td>
              <td class="mdl-data-table__cell--non-numeric platform">{{ITasset.platform}}</td>
              <td class="mdl-data-table__cell--non-numeric ipaddress">{{ITasset.ip_address}}</td>
              {% if ITasset.online == True %}
              <td class="mdl-data-table__cell--non-numeric">
                <i class="material-icons mdl-list__item-icon" style="color:rgba(100, 221, 23, 1.0)">check_circle</i>
              </td>
              {% else %}
              <td class="mdl-data-table__cell--non-numeric">
                <i class="material-icons mdl-list__item-icon" style="color:rgba(255, 0, 0, 1.0)">remove_circle</i>
              </td>
              {% endif %}
              <td class="mdl-data-table__cell--non-numeric">
                <a href={{url_for('edit_itasset', minion_id=ITasset.id, sitename=site.name)}}>Edit</a> /
                <a href={{url_for('delete_itasset', minion_id=ITasset.id, sitename=site.name)}} class="confirmation">Delete</a>
              </td>
            </tr>

        {% endfor %}

      </tbody>
    </table>

<br><br>
<div id="progress" class="mdl-progress mdl-js-progress mdl-progress__indeterminate" style="display:none">Rescanning IT Assets</div>
<br><br>
<input type=button id="rescan" onclick="window.location.href='{{ url_for('update_minion_data', sitename=site.name) }}'" value="Rescan IT Assets" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
<br><br>

<h3 class="page-title">HVAC Assets
  {% if current_user.is_authenticated %}
    {% if current_user.has_role('admin') %}
      <a class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored" style="float: right;" href="/site/{{site.name}}/add">
        <i class="material-icons">add</i>
      </a>
    {% endif %}
  {% endif %}
</h3>

{# for asset_type in asset_types #}
  {# if asset_quantity[asset_type.name] > 0 #}
    <!--h4>{#asset_type.name#} - {#asset_quantity[asset_type.name]#}</h4-->
    <table id="asset-table" class="mdl-data-table mdl-js-data-table full-width">
      <thead>
        <tr>
          <th class="mdl-data-table__cell--non-numeric sort" data-sort="name">Name</th>
          <th class="mdl-data-table__cell--non-numeric sort" data-sort="health">Health</th>
          <th class="mdl-data-table__cell--non-numeric sort" data-sort="type">Type</th>
          <th class="mdl-data-table__cell--non-numeric sort" data-sort="location">Location</th>
          <th class="mdl-data-table__cell--non-numeric sort" data-sort="group">Group</th>
          <th class="mdl-data-table__cell--non-numeric sort" data-sort="priority">Priority</th>
          <th class="mdl-data-table__cell--non-numeric sort" data-sort="notes">Notes</th>
          <th class="mdl-data-table__cell--non-numeric"></th>
        </tr>
      </thead>
      <tbody class="list">
        {% for asset in assets %}
          {# if asset.type == asset_type #}
            <tr>
              <td class="mdl-data-table__cell--non-numeric name"><a href="details/{{asset.id}}">{{asset.name}}</a></td>
              <td class="mdl-data-table__cell--non-numeric health">{{(asset.health*100)|round(1)}}%</td>
              <td class="mdl-data-table__cell--non-numeric type">{{asset.type}}</td>
              <td class="mdl-data-table__cell--non-numeric location">{{asset.location}}</td>
              <td class="mdl-data-table__cell--non-numeric group">{{asset.group}}</td>
              <td class="mdl-data-table__cell--non-numeric priority">{{asset.priority}}</td>
              <td class="mdl-data-table__cell--non-numeric notes">{{asset.notes[:80]}}</td>
              <td class="mdl-data-table__cell--non-numeric">
                <a href={{url_for('edit_asset', asset_id=asset.id, sitename=site.name)}}>Edit</a> /
                <a href={{url_for('delete_asset', asset_id=asset.id, sitename=site.name)}} class="confirmation">Delete</a>
              </td>
            </tr>
          {# endif #}
        {% endfor %}
      </tbody>
    </table>
  {# endif #}
{# endfor #}
<br><br>
{% if assets|length > 0%}
<input type=button onclick="window.location.href='{{ url_for('asset_xml_select', sitename=site.name) }}'" value="Download XML" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
{% endif %}

<script type="text/javascript">
  var options = {
      valueNames: ['name', 'operatingsystem', 'platform', 'ipaddress']
    }
  var documentTable = new List('itasset-table', options);
  documentTable.sort("name",{order:"desc"});
</script>

<script type=text/javascript>

$(function() {
  $('input#rescan').bind('click', function() {
    $("#progress").show();
    return false;
  });
});

</script>
<script type="text/javascript">
  $('.confirmation').on('click', function () {
      return confirm('Are you sure you wish to delete this asset?');
  });
</script>

<script type="text/javascript">
  var options = {
      valueNames: ['name', 'health', 'type', 'location', 'group', 'priority', 'notes']
    }
  var documentTable = new List('asset-table', options);
  documentTable.sort("name",{order:"desc"});
</script>


{% endblock %}
