{% extends "layout.html" %}
{% block content %}
  <h3>{{asset.name}}
    {% if current_user.is_authenticated %}
      {% if current_user.has_role('admin') %}
        <a class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored" style="float: right;" href="{{ url_for('edit_asset', asset_id=asset.id, sitename=site.name) }}">
          <i class="material-icons">edit</i>
        </a>
      {% endif %}
    {% endif %}
  </h3>

  <br>
  <ul class="mdl-list">
    <li class="mdl-list__item mdl-list__item--two-line">
      <span class="mdl-list__item-primary-content">
        <span>{{ asset.location }}</span>
        <span class="mdl-list__item-sub-title">Location</span>
      </span>
    </li>
    <li class="mdl-list__item mdl-list__item--two-line">
      <span class="mdl-list__item-primary-content">
        <span>
          {% if asset.group == "" %}
            Not assigned
          {% else %}
           {{ asset.group }}
          {% endif %}
        </span>
        <span class="mdl-list__item-sub-title">Group</span>
      </span>
    </li>
    <li class="mdl-list__item mdl-list__item--two-line">
      <span class="mdl-list__item-primary-content">
        <span>{{ asset.priority }}</span>
        <span class="mdl-list__item-sub-title">Priority</span>
      </span>
    </li>
  </ul>

  <h5>Anomalies</h5>
  <form action="{{ url_for('asset_issues_submit', sitename=site.name, asset_id=asset.id) }}" method=post>
    <table class="mdl-data-table mdl-js-data-table full-width">
      <thead>
        <tr>
          <th class="mdl-data-table__cell--non-numeric">First Failure</th>
          <th class="mdl-data-table__cell--non-numeric">Description</th>
          <th>Passed</th>
          <th>Result</th>
          <th class="mdl-data-table__cell--non-numeric">Notes</th>
          <th>Acknowledged</th>
        </tr>
      </thead>
      <tbody>
        {% for result in unresolved_results %}
          <tr>
            <td class="mdl-data-table__cell--non-numeric">{{result.first_timestamp.strftime('%Y-%m-%d %H:%M:%S')}}</td>
            <td class="mdl-data-table__cell--non-numeric">{{result.algorithm.descr}}</td>
            <td>{{result.passed}}</td>

            {% if result.algorithm.algorithm.format == 'bool' %}
            <td>{{result.value != 0}}</td>
            {% else %}
            <td>{{result.algorithm.algorithm.format.format(result.value)}}</td>
            {% endif %}

            <td class="notes mdl-data-table__cell--non-numeric">
              <div class="mdl-textfield mdl-js-textfield">
                <textarea class="mdl-textfield__input" type="text" rows="1" name="notes-{{result.id}}" id="notes-{{result.id}}" style="font-size:80%">{{result.notes}}</textarea>
                <label class="mdl-textfield__label" for="notes-{{result.id}}">Notes...</label>
              </div>
            </td>
            <td>
              <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect mdl-data-table__select" for="acknowledge-{{result.id}}">
                <input type="checkbox" name="acknowledge" id="acknowledge-{{result.id}}" value="{{result.id}}" class="mdl-checkbox__input" {% if result.acknowledged %}checked{% endif %}/>
              </label>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
    <br>
    <input type=submit value=Save class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
  </form>


  <h5>Functional Description</h5>
  <table class="checkbox-list" id="functional_descriptor_section">
    {% for function in asset.functions %}
      <tr>
        <td style="width:400px">
          {{function.name}}
        </td>
      </tr>
    {% endfor %}
  </table>
  {% if asset.functions == [] %}
  <p>None configured</p>
  {% endif %}

  <h5>Points</h5>
  <table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp">
    <thead>
      <tr>
        <th class="mdl-data-table__cell--non-numeric">Online</th>
        <th class="mdl-data-table__cell--non-numeric">Name</th>
        <th>Logs</th>
      </tr>
    </thead>
    <tbody>
      {% for point in asset.points %}
      <tr id="asset-point-{{ point.id }}">
        {% if point.loggedentity_id == None %}
          <td class="mdl-data-table__cell--non-numeric">
            <i class="material-icons mdl-list__item-icon">remove</i>
          </td>
          <td id="point-name" class="mdl-data-table__cell--non-numeric">{{ point.type.name }}</td>
          <td>
            <i class="material-icons mdl-list__item-icon">remove</i>
          </td>
        {% else %}
          <td class="mdl-data-table__cell--non-numeric">
            <i class="material-icons mdl-list__item-icon" style="color:rgba(100, 221, 23, 1.0)">check_circle</i>
          </td>
          <td id="point-name" class="mdl-data-table__cell--non-numeric">{{ point.type.name }}</td>
          <td>
            <a href="#" id="show-dialog-{{ point.id }}">
              <i class="material-icons mdl-list__item-icon">insert_chart</i>
            </a>
          </td>
        {% endif %}
      </tr>
      {% endfor %}
    </tbody>
  </table>
<br>
  <input type="button" value="Download XML" onclick="location.href='{{ url_for('asset_xml_select', sitename=site.name) }}';"
  class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">


  <h5>Algorithms</h5>
  <table class="checkbox-list" id="algorithm_section">
    {% for algorithm in algorithms %}
      <tr>
        <td>{{algorithm.descr}}</td>
      </tr>
    {% endfor %}
  </table>
  {% if algorithms == [] %}
  <p>None configured</p>
  {% endif %}

  <h5>Notes</h5>
  {{asset.notes}}


  <dialog class="mdl-dialog" style="width: 900px;">
    <h4 id="modal-title" class="mdl-dialog__title">Trend</h4>
    <div class="mdl-dialog__content">
      <div id="progress" class="mdl-spinner mdl-js-spinner is-active" style="display:none; text-align: center;"></div>
      <div id="curve_chart" style="width: 100%; height: 100%;"></div>
    </div>
    <div class="mdl-dialog__actions">
      <button type="button" class="mdl-button close">Close</button>
      <!-- <button type="button" class="mdl-button download">Download</button> -->
    </div>
  </dialog>
  <!-- <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script> -->
  <script>
  $(function() {

  // get dialog compoent
  var dialog = document.querySelector('dialog');
  if (! dialog.showModal) {
    dialogPolyfill.registerDialog(dialog);
  }

  $( '[id*="show-dialog"]' ).click(function() {
    // get asset_point_id of clicked row
    var assetPointId = this.id;
    var pointName = $(this).parent().parent().find('#point-name').text()
    assetPointId = assetPointId.replace('show-dialog-','');

    dialog.showModal();

    // open progress bar
    $("#progress").show();
    $("#curve_chart").hide();
    $("#modal-title").text('{{asset.name}} ' + pointName);

    // send request to server for log samples
    $.getJSON($SCRIPT_ROOT + '/_pointdata/' + assetPointId, {
      assetPointId: assetPointId,
      period: 'day'
    }, function(data) {
      $("#progress").hide();
      $("#curve_chart").show();
      drawChart(data.samples)
    });

    google.charts.load('current', {'packages':['corechart']});
    google.charts.setOnLoadCallback(drawChart);

    // console.log(typeof samples)
    function drawChart(samples) {
      var data = google.visualization.arrayToDataTable(
        samples
      );

      var options = {
        curveType: 'function',
        hAxis: {
          format: 'hh:mm'
        },
        legend: {position: 'none'},
        chartArea: {
          left: '10%',
          top: '5%',
          width: '80%',
          height: '80%'
      }
      };

      var chart = new google.visualization.LineChart(document.getElementById('curve_chart'));

      chart.draw(data, options);
    }

  });

  dialog.querySelector('.close').addEventListener('click', function() {
    dialog.close();
  });

});

  </script>

  <div class="mdl-cell mdl-cell--6-col">
    <form action="/site/{{site.name}}/projects" method="GET">
      <input type="submit" value="Return" class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent">
      </input>
    </form>
  </div>


{% endblock %}
