{% extends "layout.html" %}
{% block content %}
  <h3>{{asset.name}}
    {% if current_user.is_authenticated %}
      {% if current_user.has_role('admin') %}
        <a class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored" style="float: right;" href="{{ url_for('edit_asset', asset_id=asset.id, sitename=site.name) }}">
          <i class="material-icons">edit</i>
        </a>
      {% endif %}
    {% endif %}
  </h3>

  <br>

  <h3>Results</h3>
  <h4>Unresolved Issues</h4>
  <form action="{{ url_for('asset_issues_submit', sitename=site.name, asset_id=asset.id) }}" method=post>
    <table class="mdl-data-table mdl-js-data-table full-width">
      <thead>
        <tr>
          <th class="mdl-data-table__cell--non-numeric">First Failure</th>
          <th class="mdl-data-table__cell--non-numeric">Algorithm</th>
          <th>Passed</th>
          <th>Result</th>
          <th class="mdl-data-table__cell--non-numeric">Notes</th>
          <th>Acknowledged</th>
        </tr>
      </thead>
      <tbody>
        {% for result in unresolved_results %}
          <tr>
            <td class="mdl-data-table__cell--non-numeric">{{result.first_timestamp.strftime('%Y-%m-%d %H:%M:%S')}}</td>
            <td class="mdl-data-table__cell--non-numeric">{{result.algorithm.descr}}</td>
            <td>{{result.passed}}</td>

            {% if result.algorithm.algorithm.format == 'bool' %}
            <td>{{result.value != 0}}</td>
            {% else %}
            <td>{{result.algorithm.algorithm.format.format(result.value)}}</td>
            {% endif %}

            <td class="notes mdl-data-table__cell--non-numeric">
              <div class="mdl-textfield mdl-js-textfield">
                <textarea class="mdl-textfield__input" type="text" rows="1" name="notes-{{result.id}}" id="notes-{{result.id}}" style="font-size:80%">{{result.notes}}</textarea>
                <label class="mdl-textfield__label" for="notes-{{result.id}}">Notes...</label>
              </div>
            </td>
            <td>
              <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect mdl-data-table__select" for="acknowledge-{{result.id}}">
                <input type="checkbox" name="acknowledge" id="acknowledge-{{result.id}}" value="{{result.id}}" class="mdl-checkbox__input" {% if result.acknowledged %}checked{% endif %}/>
              </label>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
    <br>
    <input type=submit value=Save class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
  <br>
  <br>
  <h4>Most Recent Check</h4>
  <table class="mdl-data-table mdl-js-data-table full-width">
    <thead>
      <tr>
        <th class="mdl-data-table__cell--non-numeric">Timestamp</th>
        <th class="mdl-data-table__cell--non-numeric">Algorithm</th>
        <th>Passed</th>
        <th>Result</th>
      </tr>
    </thead>
    <tbody>
      {% for result in recent_results %}
        <tr>
          <td class="mdl-data-table__cell--non-numeric">{{result.recent_timestamp.strftime('%Y-%m-%d %H:%M:%S')}}</td>
          <td class="mdl-data-table__cell--non-numeric">{{result.algorithm.descr}}</td>
          <td>{{result.passed}}</td>

          {% if result.algorithm.algorithm.format == 'bool' %}
          <td>{{result.value != 0}}</td>
          {% else %}
          <td>{{result.algorithm.algorithm.format.format(result.value)}}</td>
          {% endif %}
        </tr>
      {% endfor %}
    </tbody>
  </table>

  <br><br><br>
  <h3>Details</h3>

  <table>
    <tr>
      <td style="width:250px"><h4>Name:</h4></td>
      <td>{{asset.name}}</td>
    </tr>
    <tr>
      <td><h4>Location:</h4></td>
      <td>{{asset.location}}</td>
    </tr>
    <tr>
      <td><h4>Group:</h4></td>
      <td>{{asset.group}}</td>
    </tr>
    <tr>
      <td><h4>Priority:</h4></td>
      <td>{{asset.priority}}</td>
    </tr>
  </table>

  <h5>Functional Description</h5>
  <table class="checkbox-list" id="functional_descriptor_section">
    {% for function in asset.functions %}
      <tr>
        <td style="width:400px">
          {{function.name}}
        </td>
      </tr>
    {% endfor %}
  </table>

  <br>
  <h5>Points</h5>
  <table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp mdl-data-table--selectable">
    <thead>
      <tr>
        <th class="mdl-data-table__cell--non-numeric">Online</th>
        <th class="mdl-data-table__cell--non-numeric">Name</th>
        <th>Data</th>
      </tr>
    </thead>
    <tbody>
      {% for point in asset.points %}
      <tr id="asset-point-{{ point.id }}">
        {% if point.loggedentity_id == None %}
          <td class="mdl-data-table__cell--non-numeric">
            <i class="material-icons mdl-list__item-icon">remove</i>
          </td>
          <td class="mdl-data-table__cell--non-numeric">{{ point.type.name }}</td>
          <td>
            <i class="material-icons mdl-list__item-icon">remove</i>
          </td>
        {% else %}
          <td class="mdl-data-table__cell--non-numeric">
            <i class="material-icons mdl-list__item-icon" style="color:rgba(100, 221, 23, 1.0)">check_circle</i>
          </td>
          <td class="mdl-data-table__cell--non-numeric">{{ point.type.name }}</td>
          <td>
            <a href="#" id="show-dialog-{{ point.id }}">
              <i class="material-icons mdl-list__item-icon">insert_chart</i>
            </a>
          </td>
        {% endif %}
      </tr>
      {% endfor %}
    </tbody>
  </table>
  <br>
  <h4>Algorithms</h4>
  <table class="checkbox-list" id="algorithm_section">
    {% for algorithm in algorithms %}
      <tr>
        <td>{{algorithm.descr}}</td>
      </tr>
    {% endfor %}
  </table>

  <br>
  <h4>Notes</h4>
  {{asset.notes}}

  <br>
  <br>
    <input type="button" value="Download XML" onclick="location.href='{{ url_for('asset_xml_select', sitename=site.name) }}';"
    class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
  <br>


  <dialog class="mdl-dialog">
    <h4 class="mdl-dialog__title">Trend</h4>
    <div class="mdl-dialog__content">
      <div id="progress" class="mdl-spinner mdl-js-spinner is-active" style="display:none"></div>
      <p id="show-asset-point-id">
        There should be something here.
      </p>
    </div>
    <div class="mdl-dialog__actions">
      <button type="button" class="mdl-button">Agree</button>
      <button type="button" class="mdl-button close">Disagree</button>
    </div>
  </dialog>
  <script>
  $(function() {

  // get dialog compoent
  var dialog = document.querySelector('dialog');
  if (! dialog.showModal) {
    dialogPolyfill.registerDialog(dialog);
  }
  $( '[id*="show-dialog"]' ).click(function() {
    // get asset_point_id of clicked row
    var assetPointId = this.id;
    assetPointId = assetPointId.replace('show-dialog-','');
      console.log( assetPointId );
      $("#show-asset-point-id").text(assetPointId),
      dialog.showModal();

      // open progress bar
      $("#progress").show();
      // send request to server for log samples
      $.getJSON($SCRIPT_ROOT + '/_pointdata/' + assetPointId, {
        assetPointId: assetPointId,
        period: 'day'
      }, function(data) {
        $("#testreq").text(data.testKey),
        $("#progress").hide();
      });

  });

    dialog.querySelector('.close').addEventListener('click', function() {
      dialog.close();
    });

  });
  </script>

{% endblock %}
