<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Medusa</title>

    <!-- CSS Rules -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:regular,bold,italic,thin,light,bolditalic,black,medium&amp;lang=en">
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:300,400,500,700" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Varela+Round" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/getmdl-select.min.css">
    <link rel="stylesheet" href="/static/css/material.components.ext.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.green-blue.min.css" />
    <link rel="shortcut icon" href="/static/img/favicon.ico">
    <link rel="stylesheet" href="/static/css/styles.css">
    <link rel="stylesheet" href="./bower_components/mdl-date-textfield/dist/mdl-date-textfield.min.css">
    <script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
    <script type="text/javascript" src="/static/js/jquery.js"></script>
    <script type="text/javascript" src="/static/js/list.min.js"></script>
    <script defer type="text/javascript" src="/static/js/material.components.ext.min.js"></script>
    <script defer type="text/javascript" src="/static/js/getmdl-select.min.js"></script>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type=text/javascript>
      $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
    </script>
    <script src="./bower_components/mdl-date-textfield/dist/mdl-date-textfield.min.js"></script>

    <!-- refresh pages every 5 min - maybe better way to keep information up to date? -->
    <!-- meta http-equiv="refresh" content="300" /-->

    <!-- Display flashes -->
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <script>
          var messages = {{ messages | safe }};
          for (var i=0; i<messages.length; i++) {
            alert(messages[i]);
          }
        </script>
      {% endif %}
    {% endwith %}

    {% block head %}{% endblock %}

    <!-- Import macros -->
    {% import 'macros.html' as macros %}

  </head>

  <body>
    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
      <header class="mdl-layout__header">
        <div class="mdl-layout__header-row" style="padding-left: 10px">
          <div style="height: 60%;">
            <a id="logoLink" href="/">
              <img id="schnLogo" src="/static/img/logo-schneider-electric.png"/>
            </a>
          </div>
          <div>
            <h3 class="logo">&nbsp;&nbsp;Medusa</h3>
          </div>

          <div aria-expanded="false" role="button" class="mdl-layout__drawer-button smallNav" style="margin-left: 88%; color:white;">
            <i class="material-icons"></i>
          </div>

          <!-- Large navigation bar -->
          <div class="mdl-layout__header-row">
            <nav class="largeNav mdl-navigation">
              {% if current_user.is_authenticated %}
                {% if site is defined and site != None %}
                  <a class="mdl-navigation__link" href="/site/all">All Facilities</a>
                {% else %}
                  <a class="mdl-navigation__link" href="/site/all/dashboard">Dashboard</a>
                  <a class="mdl-navigation__link" href="/site/all/sites">Facilities</a>
                  <a class="mdl-navigation__link" href="/site/all/tickets">Tickets</a>
                  <a class="mdl-navigation__link" href="/site/all/issues">Analytics</a>
                  <a class="mdl-navigation__link" href="/projects">Projects</a>
                {% endif %}
                {% if current_user.has_role('admin') %}
                  <a class="mdl-navigation__link" href="/admin/site">Admin</a>
                {% endif %}
                <p class="mdl-navigation__link">
                  <a class="navlink-manual" href="{{ url_for('user.profile') }}">{{ current_user.first_name }}</a>
                  &nbsp;|&nbsp;
                  <a class="navlink-manual" href="{{ url_for('user.logout') }}">Sign out</a>
                </p>
              {% else %}
                <a class="mdl-navigation__link" href="{{ url_for('user.login') }}">Sign in</a>
              {% endif %}
            </nav>
          </div>
        </div>
        {% if site is defined and site != None %}
          <div class="mdl-layout__header-row">
            <span class="mdl-layout-title" >
              <h4>{{site.name}} {% block title %}{% endblock %}</h4>
            </span>

            <!-- Large navigation bar -->
            {% if current_user.is_authenticated %}
              {% if site is defined and site != None %}
                <nav class="largeNav mdl-navigation">
                  <a class="mdl-navigation__link" href="/site/{{site.name}}/dashboard">Dashboard</a>
                  <a class="mdl-navigation__link" href="/site/{{site.name}}/tickets">Tickets</a>
                  <a class="mdl-navigation__link" href="/site/{{site.name}}/assets">Assets</a>
                  <a class="mdl-navigation__link" href="/site/{{site.name}}/issues">Analytics</a>
                  <a class="mdl-navigation__link" href="/site/{{site.name}}/projects">Projects</a>
                  <a class="mdl-navigation__link" href="/site/{{site.name}}/config">Settings</a>
                </nav>
              {% endif %}
            {% endif %}
          </div>
        {% endif %}
      </header>

      <!-- Small navigation bar -->
      <div class="smallNav mdl-layout__drawer" aria-hidden="true">
        <nav class="mdl-navigation">
          {% if current_user.is_authenticated %}
            {% if site is defined and site != None %}
              <a class="mdl-navigation__link" href="/site/all">All Facilities</a>
              <a class="mdl-navigation__link" href="/site/{{site.name}}/dashboard">Dashboard</a>
              <a class="mdl-navigation__link" href="/site/{{site.name}}/tickets">Tickets</a>
              <a class="mdl-navigation__link" href="/site/{{site.name}}/assets">Assets</a>
              <a class="mdl-navigation__link" href="/site/{{site.name}}/issues">Analytics</a>
              <a class="mdl-navigation__link" href="{{ url_for('site_projects_list', sitename=site.name)}}">Projects</a>
              <a class="mdl-navigation__link" href="/site/{{site.name}}/config">Settings</a>
            {% else %}
              <a class="mdl-navigation__link" href="/site/all/dashboard">Dashboard</a>
              <a class="mdl-navigation__link" href="/site/all/sites">Facilities</a>
              <a class="mdl-navigation__link" href="/site/all/tickets">Tickets</a>
              <a class="mdl-navigation__link" href="/site/all/issues">Analytics</a>
              <a class="mdl-navigation__link" href="/projects">Projects</a>
            {% endif %}
            {% if current_user.has_role('admin') %}
              <a class="mdl-navigation__link" href="/admin/site">Admin</a>
            {% endif %}
              <a class="mdl-navigation__link" href="{{ url_for('user.profile') }}">Profile</a>
              <a class="mdl-navigation__link" href="{{ url_for('user.logout') }}">Sign out</a>
          {% else %}
            <a class="mdl-navigation__link" href="{{ url_for('user.login') }}">Sign in</a>
          {% endif %}
        </nav>
      </div>

      <main class="mdl-layout__content" style="flex: 1 0 auto;">
        {% block layout %}{% endblock %}

        <div class="mdl-grid centered">
      	   <div class="mdl-cell mdl-cell--8-col">
            <!-- {# One-time system messages called Flash messages #}
            {% block flash_messages %}
                {%- with messages = get_flashed_messages(with_categories=true) -%}
                    {% if messages %}
                        {% for category, message in messages %}
                            {% if category=='error' %}
                                {% set category='danger' %}
                            {% endif %}
                            <div class="alert alert-{{category}}">{{ message|safe }}</div>
                        {% endfor %}
                    {% endif %}
                {%- endwith %}
            {% endblock %} -->

            {% block main %}

            {% endblock %}
          </div>
        </div>
      </main>
      <footer class="mdl-mini-footer">
        <div class="mdl-mini-footer__left-section">
          <div class="mdl-logo">More Information</div>
          <ul class="mdl-mini-footer__link-list">
            <li><a href="#">Help</a></li>
            <li><a href="#">Privacy & Terms</a></li>
          </ul>
          &copy; Copyright Schneider Electric 2017
        </div>
      </footer>
    </div>
  </body>
</html>
