<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Medusa</title>

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:regular,bold,italic,thin,light,bolditalic,black,medium&amp;lang=en">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/getmdl-select.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/material.components.ext.min.css') }}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.green-blue.min.css" />
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico') }}">
    <script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/list.min.js') }}"></script>
    <script defer type="text/javascript" src="{{ url_for('static', filename='js/material.components.ext.min.js') }}"></script>
    <script defer type="text/javascript" src="{{ url_for('static', filename='js/getmdl-select.min.js') }}"></script>
  </head>

  <body>
    <style>
      table {
        border-collapse: collapse;
        color: #333;
        margin: auto;
      }

      td, th {
        border: 1px solid #ccc;
        padding: 0.5em;
      }
    </style>
    <h2 style="text-align:center">Inspection and Test Check list - {{ITC.ITC.name}}</h2>
    <br>
    <h5>Project Name:</h5> {{project.name}}
    <br>
    <h5>Job Number:</h5> {{project.job_number}}
    <br>
    <h5>Site:</h5> {{site.name}}
    <br>
    <h5>Location:</h5> {{deliverable.location.name}}
    <br>
    <h5>Deliverable Start Date:</h5>
    {% if deliverable.start_date != none %}
      {{deliverable.start_date.strftime('%d-%m-%Y')}}
    {% endif %}
    <br>
    <h5>Deliverable Completion Date:</h5>
    {% if deliverable.completion_date != none %}
      {{deliverable.completion_date.strftime('%d-%m-%Y')}}
    {% endif %}
    <br>
    <h5>Assigned to:</h5> {{deliverable.assigned_to}}
    <br>
    <p style="page-break-after: always"></p>
      <h5>{{deliverable.name}} - {{deliverable.type.name}}</h5>
      <table style="font-size:80%; width:100%; table-layout:fixed; white-space:normal">
        <thead>
          <col style="width:25%">
          <col style="width:13%">
          <col style="width:14%">
          <col style="width:13%">
          <col style="width:14%">
          <col style="width:21%">
          <tr style="background: lightgray !important;">
            <th>Check Description</th>
            <th>Status</th>
            <th>Pass/Fail</th>
            <th>Completed By</th>
            <th>Completion Date</th>
            <th>Comments</th>
          </tr>
        </thead>
        <tbody>
        {% for check in checks %}
          {% if ITC.deliverable.id == deliverable.id %}
            <tr>
              <td>{{check.ITC_check.check.check_description}}</td>
              <td>{{check.status}}</td>
              {% if check.is_done %}
                <td><b>PASS<b></td>
              {% else %}
                <td></td>
              {% endif %}
              {% if check.user != none %}
                <td>{{check.user.first_name}} {{check.user.last_name}}</td>
              {% else %}
                <td></td>
              {% endif %}
              {% if check.completion_datetime != none %}
                <td>{{check.completion_datetime.strftime('%d-%m-%Y')}}</td>
              {% else %}
                <td></td>
              {% endif %}
              <td>{{check.comments}}</td>
            </tr>
          {% endif %}
        {% endfor %}
        </tbody>
      </table>
  </body>
</html>
