{% extends "layout.html" %}
{% block content %}
    <h3>CMMS Integration</h3>
    <form action="{{ url_for('CMMS_submit', sitename=site.name) }}" method=post>
      <table class=full-width>
        <tr>
          <td style="width:40px">
            <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="Inbuildings">
              <input type="checkbox" name="Inbuildings" id="Inbuildings" class="mdl-checkbox__input" value="True"
              {% if inbuildings_config.enabled == True %} checked {% endif %}>
            </label>
          </td>
          <td>
            <h4>Inbuildings</h4>
          </td>
        </tr>
        <tr>
          <td></td>
          <td>
            Site Key:
            <div class="mdl-textfield mdl-js-textfield" style="width: 700px">
              <input class="mdl-textfield__input" type="text" name="Inbuildings_key" autocomplete="off" id="Inbuildings_key" value="{{inbuildings_config.key}}">
              <label class="mdl-textfield__label" for="Inbuildings_key"></label>
            </div>
          </td>
        </tr>
        <tr>
          <td>
            <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="Astea">
              <input type="checkbox" name="Astea" id="Astea" class="mdl-checkbox__input" value="True"
              {% if astea_config.enabled == True %} checked {% endif %}>
            </label>
          </td>
          <td>
            <h4>Astea</h4>
          </td>
        </tr>
        <tr>
          <td></td>
          <td>
            Site Key:
            <div class="mdl-textfield mdl-js-textfield" style="width: 700px">
              <input class="mdl-textfield__input" type="text" name="Astea_key" autocomplete="off" id="Astea_key" value="{{astea_config.key}}">
              <label class="mdl-textfield__label" for="Astea_key"></label>
            </div>
          </td>
        </tr>
      </table>
      <br><br>
      <input type=submit value=Submit class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
    </form>
{% endblock %}