<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Medusa</title>

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:regular,bold,italic,thin,light,bolditalic,black,medium&amp;lang=en">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/getmdl-select.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/material.components.ext.min.css') }}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.green-blue.min.css" />
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico') }}">
    <script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/list.min.js') }}"></script>
    <script defer type="text/javascript" src="{{ url_for('static', filename='js/material.components.ext.min.js') }}"></script>
    <script defer type="text/javascript" src="{{ url_for('static', filename='js/getmdl-select.min.js') }}"></script>
  </head>

  <body>
    <style>
      table {
        border-collapse: collapse;
        color: #333;
        margin: auto;
      }

      td, th {
        border: 1px solid #ccc;
        padding: 0.5em;
      }
    </style>

    <h2 style="text-align:center">Deliverables list - {{project_ITP.name}}</h2>
    <br>
    <h4>Project Name:</h4> {{project.name}}
    <br>
    <h4>Job Number:</h4> {{project.job_number}}
    <br>
    <h4>Site:</h4> {{site.name}}
    <br>
    <h4>Project Start Date:</h4> {{project.start_date.strftime('%d-%m-%Y')}}
    <br>
    <h4>Project Completion Date:</h4>
    {% if project.completion_date != none %}
      {{project.completion_date.strftime('%d-%m-%Y')}}
    {% endif %}
    <br>
    <h4>Assigned to:</h4> {{project.assigned_to}}
    <br>
    <p style="page-break-after: always"></p>
      <table style="font-size:80%; width:100%; table-layout:fixed; white-space:normal">
        <thead>
          <tr>
            <th>Deliverable Name</th>
            <th>Deliverable Type</th>
            <th>Status</th>
            <th>Location</th>
            <th>Assigned To</th>
            <th>Completion Date</th>
            <th>Complete</th>
          </tr>
        </thead>
        <tbody>
          {% for deliverable in deliverables %}
            <tr>
              <td>{{deliverable.name}}</td>
              <td>{{deliverable.type.name}}</td>
              <td>{{deliverable.status}}</td>
              <td>{{deliverable.location}}</td>
              {% if deliverable.assigned_to != none %}
                <td>{{deliverable.assigned_to}}</td>
              {% else %}
                <td></td>
              {% endif %}
              {% if deliverable.completion_date != none %}
                <td>{{deliverable.completion_date.strftime('%d-%m-%Y')}}</td>
              {% else %}
                <td></td>
              {% endif %}
              <td>{{deliverable.percentage_complete}}%</td>
            </tr>
        {% endfor %}
        </tbody>
      </table>
  </body>
</html>
