{% extends "layout-empty.html" %}
{% block content %}
  <div style="width: 80%; margin: auto">
    <h3>Current Deliverable types</h3>

    <table class="mdl-data-table mdl-js-data-table" style="width: 100%">
      <thead>
        <tr>
          <th class="mdl-data-table__cell--non-numeric">Name</th>
          <th class="mdl-data-table__cell--non-numeric">Description</th>
          <th class="mdl-data-table__cell--non-numeric">code</th>
          <th class="mdl-data-table__cell--non-numeric">comments</th>
          <th class="mdl-data-table__cell--non-numeric">edit</th>
          <th class="mdl-data-table__cell--non-numeric">delete</th>
        </tr>
      </thead>
      <tbody>
      {% for type in types %}
        <tr>
          <td class="mdl-data-table__cell--non-numeric">{{type.name}}</th>
          <td class="mdl-data-table__cell--non-numeric">{{type.name}}</td>
          <td class="mdl-data-table__cell--non-numeric">{{type.name}}</td>
          <td class="mdl-data-table__cell--non-numeric">{{type.name}}</td>
          <td class="mdl-data-table__cell--non-numeric" style="width:5%">
            <a href="/deliverable_type/{{type.name}}/edit">
              edit
            </a>
          </td>
          <td class="mdl-data-table__cell--non-numeric" style="width:5%">
            <a href="/deliverable_type/{{type.name}}/delete">
              delete
            </a>
          </td>
        </tr>
      {% endfor %}
      </tbody>
    </table>

    <br>
    <br>

    <form action="/deliverable_type/new">
      <input type="submit" value="New deliverable" class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent">
      </input>
    </form>
  </div>


{% endblock %}
