{% extends "layout.html" %}
{% block content %}
	 <h2>Edit Asset</h2>
  <form action="{{ url_for('edit_asset_submit', sitename=site.name, assetname=asset.name) }}" method=post>
    <table class=formfields>
      <tr>
        <td>Name:</td>
        <td><input type=text size=30 name=name value='{{asset.name}}' autocomplete=off></td>
      </tr>
      <tr>
        <td>Location:</td>
        <td><input type=text size=30 name=location value='{{asset.location}}' autocomplete=off></td>
      </tr>
      <tr>
        <td>Group:</td>
        <td><input type=text size=30 name=group value='{{asset.group}}' autocomplete=off></td>
      </tr>
      <tr>
        <td>Priority:</td>
        <td><select name=priority>
          {% for i in range(0,10) %}
            <option value="{{i}}"
            {% if i == asset.priority %}
            selected="selected"
            {% endif %}
            >{{i}}</option>
          {% endfor %}
        </select></td>
      </tr>
    </table>
    <br>

    <h4>Process Functions:</h4>
      <table>
        {% for function in asset.functions %}
          <tr><td>
            {{function.name}}
            <input type=hidden name="function" value="{{function.name}}"/>
          </td></tr>
        {% endfor %}
      </table>
    <br>

    <h4>Components:</h4>
    <table>
    	{% for component in asset.components %}
    		<tr>
    			<td><input type=hidden class="component" name='component{{loop.index}}' value='{{component.type.name}}'/> {{component.type.name}}</td>
    			<td><div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label getmdl-select getmdl-select__fix-height">
            <input class="mdl-textfield__input" type="text" id='log{{loop.index}}' name='log{{loop.index}}'
              {% for log in logs %}
                {% if component.loggedentity_id == log.id %}value='{{log.path}}'{% endif %}
              {% endfor %}
            readonly tabIndex="-1">
            <label for='log{{loop.index}}'>
              <i class="mdl-icon-toggle__label material-icons">keyboard_arrow_down</i>
            </label>
            <ul for='log{{loop.index}}' class="mdl-menu mdl-menu--bottom-left mdl-js-menu">
              {% for log in logs %}
                <li class="mdl-menu__item" data-val="{{log.path}}">{{log.path}}</li>
              {% endfor %}
            </ul>
          </div></td>
    		</tr>
    	{% endfor %}
    </table>
    <br>

    <h4>Algorithms:</h4>
    <table>
    	{% for algorithm in asset.algorithms %}
    		<tr><td>
    			<input type="checkbox" name="algorithm" value='{{algorithm.descr}}' {% if not algorithm in asset.exclusions %}checked{% endif %}/> {{algorithm.descr}}</input>
    		</td></tr>
    	{% endfor %}
    </table>
    <br>
    <input type=submit value=Submit>
  </form>

  <!-- Material design auto 'upgrades' the elements, causing selectedIndex to revert to not -1. Hacky method here to delay this until after MDL is done upgrading stuff-->
  <script type="text/javascript">
    $(function() {
      setTimeout(function() {
        {% for component in asset.components %}
          {% if component.loggedentity_id == None %}
            $('#log{{loop.index}}').prop("selectedIndex", -1);
          {% endif %}
        {% endfor %}
      }, 50);
    });
  </script>

{% endblock %}