{% extends "layout.html" %}
{% block content %}
	 <h2>Edit Asset</h2>
  <form action="{{ url_for('edit_asset_submit', sitename=site.name, assetname=asset.name) }}" method=post>
    <table class=formfields>
      <tr>
        <td>Name:</td>
        <td><input type=text size=30 name=name value='{{asset.name}}' autocomplete=off></td>
      </tr>
      <tr>
        <td>Location:</td>
        <td><input type=text size=30 name=location value='{{asset.location}}' autocomplete=off></td>
      </tr>
      <tr>
        <td>Group:</td>
        <td><input type=text size=30 name=group value='{{asset.group}}' autocomplete=off></td>
      </tr>
      <tr>
        <td>Priority:</td>
        <td><select name=priority>
          {% for i in range(0,10) %}
            <option value="{{i}}">{{i}}</option>
          {% endfor %}
        </select></td>
      </tr>
    </table>
    <br>
    Components:<br>
    <table id=component_section class=formfields>
    	{% for component in asset.components %}
    		<tr>
    			<td><input type=hidden class="component" name='component{{loop.index}}' value='{{component.type.name}}'/> {{component.type.name}}</td>
    			<td><select name='log{{loop.index}}' class=dropdown>
    				{% for log in logs %}
    					<option value='{{log.path}}' {% if component.loggedentity_id == log.id %}selected{% endif %}>{{log.path}}</option>
    				{% endfor %}
    			</select><td>
    		</tr>
    	{% endfor %}
    </table>
    <br>
    Exclude Algorithms:<br>
    <table id=exclusion_section class=formfields>
    	{% for algorithm in asset.subtype.algorithms %}
    		<tr><td>
    			<input type="checkbox" name="exclusion" value='{{algorithm.descr}}' {% if algorithm in asset.exclusions %}checked{% endif %}/> {{algorithm.descr}}</input>
    		</td></tr>
    	{% endfor %}
    </table>
    <br>
    <input type=submit value=Submit>
  </form>
{% endblock %}