{% extends "layout.html" %}
{% block content %}
<h3 class="page-title">Edit IT Asset
  {% if current_user.is_authenticated %}

  {% endif %}
</h3>
<ul class="mdl-list">
  <li class="mdl-list__item mdl-list__item--two-line">
      <span class="mdl-list__item-primary-content">
        {% if ITasset.minion_key_accepted == True %}
        <i class="material-icons mdl-list__item-icon" style="color:rgba(100, 221, 23, 1.0)">check_circle</i>
        <span>Configuration Complete</span>
        {% else %}
        <i class="material-icons mdl-list__item-icon" style="color:rgba(255, 0, 0, 1.0)">remove_circle</i>
        <span>Configuration Incomplete. Check salt-minion installation on IT Asset and press "Check Configuration"</span>
        {% endif %}
        <span class="mdl-list__item-sub-title">Configuration Status</span>
  </span>
  </li>
</ul>


<a href=http://medusa-docs.sebbqld.com/user/ITassetconfig.html target="_blank"> To complete the configuration of the IT asset, please follow these instructions</a>


<br></br>

  <h5>{{error}}</h5>
  <form action="{{ url_for('edit_itasset', sitename=site.name, minion_id=ITasset.id) }}" method=post>
    {{form.csrf_token}}
    {{ macros.show_errors(form) }}
    <table>
      <tr>
        <td><div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
          {{ form.minion_name(class="mdl-textfield__input", type="text", pattern="[A-Z,a-z,0-9,\-]*", autocomplete="off") }}
    			<label class="mdl-textfield__label" for="site">IT asset name</label>
    			<span class="mdl-textfield__error">Only alphabet, numbers, '-' and no spaces, please!</span>
        </div></td>
      </tr>
      <tr>
        <td><div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
          {{ form.platform(class="mdl-textfield__input", type="text", autocomplete="off") }}
          <label class="mdl-textfield__label" for="site">Platform (optional)</label>
        </div></td>
      </tr>
      <tr>
        <td><div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
          {{ form.ip_address(class="mdl-textfield__input", type="text", pattern="[0-9\.]*", autocomplete="off") }}
          <label class="mdl-textfield__label" for="site">IP address (optional)</label>
          <span class="mdl-textfield__error">Only numbers and .</span>
        </div></td>
      </tr>
    </table>
    <tr>
      <td><div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
        {{ form.operating_system(class="mdl-textfield__input", type="text", autocomplete="off") }}
        <label class="mdl-textfield__label" for="site">Operating System (optional)</label>
      </div></td>
    </tr>
    <br></br>



    <input id=submit type=submit value="Save Asset and Check Configuration" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" >
  </form>

<br></br>
  <form action="{{url_for('update_one_minion_data', sitename=site.name, minion_id=ITasset.id)}}">
    <input type="submit" value="Close" class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent">
    </input>
  </form>

{% endblock %}
