<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Medusa</title>

    <!-- CSS Rules -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:regular,bold,italic,thin,light,bolditalic,black,medium&amp;lang=en">
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:300,400,500,700" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Varela+Round" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/getmdl-select.min.css">
    <link rel="stylesheet" href="/static/css/material.components.ext.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.green-blue.min.css" />
    <link rel="shortcut icon" href="/static/img/favicon.ico">
    <link rel="stylesheet" href="/static/css/styles.css">
    <script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
    <script type="text/javascript" src="/static/js/jquery.js"></script>
    <script type="text/javascript" src="/static/js/list.min.js"></script>
    <script defer type="text/javascript" src="/static/js/material.components.ext.min.js"></script>
    <script defer type="text/javascript" src="/static/js/getmdl-select.min.js"></script>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type=text/javascript>
      $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
    </script>

    <!-- refresh pages every 5 min - maybe better way to keep information up to date? -->
    <!-- meta http-equiv="refresh" content="300" /-->

    <!-- Display flashes -->
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <script>
          var messages = {{ messages | safe }};
          for (var i=0; i<messages.length; i++) {
            alert(messages[i]);
          }
        </script>
      {% endif %}
    {% endwith %}

    {% block head %}{% endblock %}

    <!-- Import macros -->
    {% import 'macros.html' as macros %}

  </head>

  <body>
    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
      <header class="mdl-layout__header">
        <div class="mdl-layout__header-row" style="padding-left: 10px">
          <div style="height: 80%;">
            <a id="logoLink" href="/">
              <img id="schnLogo" src="/static/img/logo-schneider-electric.png"/>
            </a>
          </div>
          <div>
            <h3 class="logo">&nbsp;&nbsp;Medusa</h3>
          </div>
          <div class="mdl-layout-spacer"></div>

          <div aria-expanded="false" role="button" class="mdl-layout__drawer-button smallNav" style="margin-left: 88%; color:white;">
            <i class="material-icons"></i>
          </div>

          <!-- Large navigation bar -->
          <div class="mdl-layout">
              <nav class="largeNav mdl-navigation" style="right: 0; position: fixed">
                {% if allsites == True %}
                  <a class="mdl-navigation__link" href="/site/all/dashboard">Dashboard</a>
                  {% if current_user.is_authenticated %}
                    {% if current_user.has_role('performance_centre') %}
                      <a class="mdl-navigation__link" href="/site/all/weather">Weather</a>
                      <a class="mdl-navigation__link" href="/site/all/map">Map</a>
                    {% endif %}
                  {% endif %}
                  <a class="mdl-navigation__link" href="/site/all/sites">Facilities</a>
                  <a class="mdl-navigation__link" href="/site/all/issues">Issues</a>
                  <a class="mdl-navigation__link" href="/projects">Projects</a>
                {% else %}
                  <a class="mdl-navigation__link" href="/site/{{site.name}}/dashboard">Dashboard</a>
                  <a class="mdl-navigation__link" href="/site/{{site.name}}/projects">Projects</a>
                  <a class="mdl-navigation__link" href="/site/{{site.name}}/issues">Issues</a>
                  <a class="mdl-navigation__link" href="/site/{{site.name}}/assets">Assets</a>
                  <a class="mdl-navigation__link" href="/site/{{site.name}}/config">Site Config</a>
                  <a class="mdl-navigation__link" href="/site/all">All Facilities</a>
                {% endif %}
                {% if current_user.is_authenticated %}
                  {% if current_user.has_role('admin') %}
                    <a class="mdl-navigation__link" href="/admin/site">Admin</a>
                  {% endif %}
                  <p class="mdl-navigation__link">
                    <a class="navlink-manual" href="{{ url_for('user.profile') }}">{{ current_user.email }}</a>
                    &nbsp;|&nbsp;
                    <a class="navlink-manual" href="{{ url_for('user.logout') }}">Sign out</a>
                  </p>
                {% else %}
                  <a class="mdl-navigation__link" href="{{ url_for('user.login') }}">Sign in</a>
                {% endif %}
              </nav>
            </div>
        </div>
        {% if not allsites == True %}
          <div class="mdl-layout__header-row">
            <span class="mdl-layout-title" >
              <h4>{{site.name}}</h4>
            </span>
          </div>
        {% endif %}
      </header>

      <!-- Small navigation bar -->
      <div class="smallNav mdl-layout__drawer" aria-hidden="true">
        <nav class="mdl-navigation">
          {% if allsites == True %}
            <a class="mdl-navigation__link" href="/site/all/dashboard">Dashboard</a>
            {% if current_user.is_authenticated %}
              {% if current_user.has_role('performance_centre') %}
                <a class="mdl-navigation__link" href="/site/all/weather">Weather</a>
                <a class="mdl-navigation__link" href="/site/all/map">Map</a>
              {% endif %}
            {% endif %}
            <a class="mdl-navigation__link" href="/site/all/sites">Facilities</a>
            <a class="mdl-navigation__link" href="/site/all/issues">Issues</a>
          {% else %}
            <a class="mdl-navigation__link" href="/site/{{site.name}}/dashboard">Dashboard</a>
            <a class="mdl-navigation__link" href="/site/{{site.name}}/issues">Issues</a>
            <a class="mdl-navigation__link" href="/site/{{site.name}}/assets">Assets</a>
            <a class="mdl-navigation__link" href="/site/{{site.name}}/config">Site Config</a>
            <a class="mdl-navigation__link" href="/site/all">All Facilities</a>
          {% endif %}
          {% if current_user.is_authenticated %}
            {% if current_user.has_role('admin') %}
              <a class="mdl-navigation__link" href="/admin/site">Admin</a>
            {% endif %}
              <a class="mdl-navigation__link" href="{{ url_for('user.profile') }}">Profile</a>
              <a class="mdl-navigation__link" href="{{ url_for('user.logout') }}">Sign out</a>
          {% else %}
            <a class="mdl-navigation__link" href="{{ url_for('user.login') }}">Sign in</a>
          {% endif %}
        </nav>
      </div>

      <main class="mdl-layout__content" style="flex: 1 0 auto;">
        {% block layout %}{% endblock %}
      </main>
      <footer class="mdl-mini-footer">
        <div class="mdl-mini-footer__left-section">
          <div class="mdl-logo">More Information</div>
          <ul class="mdl-mini-footer__link-list">
            <li><a href="#">Help</a></li>
            <li><a href="#">Privacy & Terms</a></li>
          </ul>
          &copy; Copyright Schneider Electric 2017
        </div>
      </footer>
    </div>
  </body>
</html>
