{% extends "layout.html" %}
{% block content %}
  <div >
    <h3>Generic Items</h3>

    <table class="mdl-data-table mdl-js-data-table">
      <thead>
        <tr>
          <th class="mdl-data-table__cell--non-numeric">Generic Checks</th>
          <td class="mdl-data-table__cell--non-numeric">
            <a href="/generic/check">
              List
            </a>
          </td>
        </tr>
        <tr>
          <th class="mdl-data-table__cell--non-numeric">Generic ITCs</th>
          <td class="mdl-data-table__cell--non-numeric">
            <a href="/generic/ITC">
              List
            </a>
          </td>
        </tr>
      </thead>
    </table>

  </div>

  <br>

  <div class="">
    <form action="/projects">
      <input type="submit" value="Return" class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent">
      </input>
    </form>
  </div>


{% endblock %}
