{% extends "layout.html" %}
{% block content %}
  <h3>Add ITC</h3>

  <br>

  <div>
    <form action="/site/{{site.name}}/projects/{{project.name}}/ITP/{{ITP.name}}/deliverable/{{deliverable.name}}/ITC/add" method="POST">
      <select name="ITC" class="mdl-textfield__input">
        {% for ITC in ITCs %}
          <option value={{ITC.id}}>{{ITC.name}}</option>
        {% endfor %}
      </select>
      <br>
      <input type="submit" value="Create ITC" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
    </form>

    <br>

    <div>
      <form action="{{request.referrer}}" method="GET">
        <input type="submit" value="Return" class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent">
        </input>
      </form>
    </div>
  </div>

{% endblock %}
