{% extends "layout.html" %}
{% block content %}
  <h3>New Check</h3>

  <br>

  <div>
    <form action="/site/{{ site.name }}/projects/{{ project.name }}/ITP/{{ITP.name}}/deliverable/{{deliverable.name}}/ITC/{{ITC.name}}/check/new" method="POST">
      <input type="text" name="check_comments" placeholder="Comments" required class="mdl-textfield__input">
      <br>
      <select name="check_generic" class="mdl-textfield__input">
        <option value=""></option>
        {% for check in checks_generic %}
          <option value="{{check.id}}">{{check.check_description}}</option>
        {% endfor %}
      </select>
      <br>
      <select name="check_status" class="mdl-textfield__input">
        <option value="Not Started">Not Started</option>
        <option value="In Progress">In Progress</option>
        <option value="Completed">Completed</option>
        <option value="Not Applicable">Not Applicable</option>
      </select>
      <br>
      <input type="submit" value="Create ITC" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
    </form>
  </div>

{% endblock %}
