{% extends "layout.html" %}
{% block content %}
  <h3>New Check</h3>

  <br>

  <div>
    <form action="/ITC/generic/{{ITC.id}}/check/new" method="POST">
      <select name="check_generic" class="mdl-textfield__input" required>
        {% for check in checks %}
          <option value="{{check.id}}">{{check.check_description}}</option>
        {% endfor %}
      </select>
      <br>
      <select name="check_status" class="mdl-textfield__input">
        <option value="Not Started">Not Started</option>
        <option value="In Progress">In Progress</option>
        <option value="Completed">Completed</option>
        <option value="Not Applicable">Not Applicable</option>
      </select>
      <br>
      <input type="submit" value="Create ITC" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
    </form>
  </div>

{% endblock %}
