{% extends "layout.html" %}
{% block content %}
  <h3>Edit {{deliverable.name}} for {{ITP.name}}</h3>

  <br>

  <div>
    <form action="/site/{{ site.name }}/projects/{{project.name}}/ITP/{{ITP.name}}/deliverable/{{deliverable.name}}/edit" method="POST">
      <input type="text" name="deliverable_name" placeholder="Deliverable Name" class="mdl-textfield__input">
      <br>
      <input type="text" name="deliverable_description" placeholder="Give a description of the deliverable" class="mdl-textfield__input">
      <br>

      <br>
      <input type="submit" value="Save Changes" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
    </form>
  </div>

{% endblock %}
