<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Medusa</title>


  </head>
  <body>
    <style>
      table {
        border-collapse: collapse;
        color: #333;
        margin: auto;
      }

      td, th {
        border: 1px solid #ccc;
        padding: 0.5em;
      }

      table table {
        direction: ltr;
      }
      p{
        margin-top: 0;
        margin-bottom: 0;
        margin-left: 0;
        margin-right: 0;
        font-size: 8pt;
      }
    </style>
    <h6><u>SECTION 1 - Checklists</u></h6>
      <table style="font-size:80%; width:100%; table-layout:fixed; white-space:normal">
        <tbody>
          <col style="width:35%">
          <col style="width:30%">
          <col style="width:35%">
          <tr>
            <td><b>SCHNEIDER ELECTRIC<b></td>
            <td>{{deliverable.name}} - {{deliverable.type.name}}</td>
            <td style="padding: 0">
              <table id="nest_table" style="width:100%; border-collapse: collapse;">
                <tbody>
                  <tr>
                    <td colspan="2">Ref: </td>
                  </tr>
                  <tr>
                    <td colspan="2">Project: {{project}}</td>
                  </tr>
                  <tr>
                    <td colspan="2">Job number: {{project.job_number}}</td>
                  </tr>
                  <tr>
                    <col style="width:50%">
                    <col style="width:50%">
                    <td>Date: {{today.strftime('%d-%m-%Y')}}</td>
                    <td>Rev: </td>
                  </tr>
                </tbody>
              </table>
            </td>
          </tr>
        </tbody>
      </table>

      <br>

      {% for group in groups %}
        {% for i in range(0, (ITCs | length)) %}
          <!-- <table>
            <thead>
              <tr style="background-color: lightgrey !important;">
                <td colspan="4">
                  <span><b>Test {{ITCs[i].test_number}} - {{ITCs[i].ITC}}</b></span><br>
                  <span>Summary Refer Section: </span>
                  <span>{{ITCs[i].ITC.description}}</span>
                </td>
              </tr>
            </thead>
          </table> -->
          {% if ITCs[i].deliverable.id == deliverable.id %}
            {% if ITCs[i].ITC.group == group %}
              {% if i == 0 %}
                <h6>{{ group }}</h6>
                <table style="font-size:80%; width:100%; table-layout:fixed; white-space:normal">
                  <thead>
                    <col style="width:10%">
                    <col style="width:55%">
                    <col style="width:10%">
                    <col style="width:15%">
                    <col style="width:10%">
                    <tr style="background-color: lightgrey !important;">
                      <th>id</th>
                      <th>Description</th>
                      <th>Pass/Fail</th>
                      <th>Date</th>
                      <th><b>Initials</b><th>
                    </tr>
                  </thead>
                {% elif ITCs[i].ITC.group != ITCs[i-1].ITC.group %}
                  <h6>{{ group }}</h6>
                  <table style="font-size:80%; width:100%; table-layout:fixed; white-space:normal">
                    <thead>
                      <col style="width:10%">
                      <col style="width:55%">
                      <col style="width:10%">
                      <col style="width:15%">
                      <col style="width:10%">
                      <tr style="background-color: lightgrey !important;">
                        <th>id</th>
                        <th>Description</th>
                        <th>Pass/Fail</th>
                        <th>Date</th>
                        <th><b>Initials</b><th>
                      </tr>
                    </thead>
                {% elif ITCs[i].deliverable.id != ITCs[i-1].deliverable.id %}
                  <h6>{{ group }}</h6>
                  <table style="font-size:80%; width:100%; table-layout:fixed; white-space:normal">
                    <thead>
                      <col style="width:10%">
                      <col style="width:55%">
                      <col style="width:10%">
                      <col style="width:15%">
                      <col style="width:10%">
                      <tr style="background-color: lightgrey !important;">
                        <th>id</th>
                        <th>Description</th>
                        <th>Pass/Fail</th>
                        <th>Date</th>
                        <th><b>Initials</b><th>
                      </tr>
                    </thead>
                {% endif %}
                <tbody>
                  <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                  </tr>
                  <tr>
                    <td><b>{{ ITCs[i].ITC_group_number }}.0</b></td>
                    <td><b>{{ ITCs[i].ITC.name }}</b></td>
                    <td></td>
                    <td></td>
                    <td></td>
                  </tr>
                  {% for check in ITCs[i].deliverable_check_map %}
                    <tr>
                      <td>{{ ITCs[i].ITC_group_number }}.{{check.check_number}}</td>
                      <td>{{check.ITC_check.check.check_description}}</td>
                      {% if check.is_done %}
                        <td><b>PASS<b></td>
                        <td>{{check.completion_datetime.strftime('%d-%m-%Y')}}</td>
                        <td>{{check.user.first_name[0]}}{{check.user.last_name[0]}}</td>
                      {% else %}
                        <td></td>
                        <td></td>
                        <td></td>
                      {% endif %}
                    </tr>
                  {% endfor %}
              {% endif %}
            {% endif %}
          {% endfor %}
        </tbody>
      </table>
      <br>
    {% endfor %}
  </body>
</html>
