{% extends "layout.html" %}
{% block content %}
  <h3>Deliverable</h3>

  <div>
    <div class="mdl-grid">
      <div class="mdl-cell mdl-cell--6-col">
        <div class="mdl-cell mdl-cell--12-col mdl-shadow--4dp mdl-typography--text-center">
          <div class="mdl-card__title">
            <h2 class="mdl-card__title-text">Details</h2>
          </div>
          <table class="mdl-data-table mdl-js-data-table" style="width:100%;table-layout:fixed;white-space: normal;">
            <tbody>
              <tr>
                <th class="mdl-data-table__cell--non-numeric">Component Number</th>
                <td class="mdl-data-table__cell--non-numeric">#532434</td>
              </tr>
              <tr>
                <th class="mdl-data-table__cell--non-numeric">Location</th>
                <td class="mdl-data-table__cell--non-numeric">Room 2.51</td>
              </tr>
              <tr>
                <th class="mdl-data-table__cell--non-numeric">Date Started</th>
                <td class="mdl-data-table__cell--non-numeric">11/12/17</td>
              </tr>
              <tr>
                <th class="mdl-data-table__cell--non-numeric">Date Completed</th>
                <td class="mdl-data-table__cell--non-numeric">20/12/17</td>
              </tr>
              <tr>
                <th class="mdl-data-table__cell--non-numeric">Assigned To</th>
                <td class="mdl-data-table__cell--non-numeric">Foo Bar</td>
              </tr>
              <tr>
                <th class="mdl-data-table__cell--non-numeric">% Complete</th>
                <td class="mdl-data-table__cell--non-numeric"></td>
              </tr>
              <tr>
                <th class="mdl-data-table__cell--non-numeric">ITC</th>
                <td class="mdl-data-table__cell--non-numeric">
                  <a href="/site/{{site.name}}/projects/{{project.name}}/ITP/{{ITP.name}}/deliverable/{{deliverable.name}}/ITC">
                    {{deliverable.name}} - ITC
                  </a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

      <div class="mdl-cell mdl-cell--5-col mdl-cell--1-offset mdl-grid">

        <div class="mdl-cell mdl-cell--12-col mdl-shadow--4dp mdl-typography--text-center">
          <div class="mdl-card__title">
            <h2 class="mdl-card__title-text">Inspection and Testing Checks</h2>
          </div>
          <div id="donutchart" style="width: 90%; height: 80%;"></div>
          <script type="text/javascript">
            google.charts.load("current", {packages:["corechart"]});
            google.charts.setOnLoadCallback(drawChart);
            function drawChart(){
              var data = google.visualization.arrayToDataTable([
                ['Completion', 'Percentage'],
                ['Completed', {{deliverable.percentage_complete}}],
                ['In Progress', 30],
                ['Not Applicable', 10],
                ['Not Started', 10]
              ]);

              var options = {
                pieHole: 0.4,
                colors: ['green', 'orange', 'lightBlue', 'red'],
                pieSliceTextStyle: {
                  color: 'black',
                },
                legend: 'none'
              };

              var chart = new google.visualization.PieChart(document.getElementById('donutchart'));
              chart.draw(data, options);
            }
          </script>
          <br><br>
        </div>
      </div>

      <div class="mdl-cell mdl-cell--12-col mdl-shadow--4dp mdl-typography--text-center">
        <div class="mdl-card__title">
          <h2 class="mdl-card__title-text">Inspection and Checklists</h2>
        </div>
        <table class="mdl-data-table mdl-js-data-table" style="width: 100%">
          <thead>
            <tr>
              <th class="mdl-data-table__cell--non-numeric">Name</th>
              <th class="mdl-data-table__cell--non-numeric">Comments</th>
              <th class="mdl-data-table__cell--non-numeric">Status</th>
              <th class="mdl-data-table__cell--non-numeric">Percentage Complete</th>
              <th class="mdl-data-table__cell--non-numeric"></th>
            </tr>
          </thead>
          <tbody>
            {% for ITC in ITCs %}
              <tr>
                <td class="mdl-data-table__cell--non-numeric">
                  <a href="/site/{{ site.name }}/projects/{{ project.name }}/ITP/{{ITP.name}}/deliverable/{{deliverable.name}}/ITC/{{ITC.name}}">
                    {{ITC.name}}
                  </a>
                </td>
                <td class="mdl-data-table__cell--non-numeric">{{ITC.comment}}</td>
                <td class="mdl-data-table__cell--non-numeric">{{ITC.status}}</td>
                <td class="mdl-data-table__cell--non-numeric">{{ITC.percentage_complete}}%</td>
                <td class="mdl-data-table__cell--non-numeric" style="width:10%;">
                  <a href="/site/{{site.name}}/projects/{{project.name}}/ITP/{{ITP.name}}/deliverable/{{deliverable.name}}/ITC/{{ITC.name}}/edit">
                    Edit
                  </a>/
                  <a href="/site/{{site.name}}/projects/{{project.name}}/ITP/{{ITP.name}}/deliverable/{{deliverable.name}}/ITC/{{ITC.name}}/delete">
                    Delete
                  </a>
                </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>

{% endblock %}
