<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">

    <title>Medusa</title>

    <!-- Override CSS file - add your own CSS rules -->
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <script type="text/javascript" src="{{ url_for('static', filename='jquery.js') }}"></script>
    <script type=text/javascript>
      $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
    </script>
  </head>
  <body>
    <div class="header">
      <div class="container">
        <h1 class="header-heading">{{site.name}}</h1>
      </div>
    </div>
    <div class="nav-bar">
      <div class="container">
        <ul class="nav">
          <li><a href="/site/{{site.name}}/assets">Asset List</a></li>
          <li><a href="/site/{{site.name}}/unresolved">Unresolved Issues</a></li>
          <li><a href="/site/{{site.name}}/add">Add Asset</a></li>
          <li><a href="/admin">Admin</a></li>
        </ul>
      </div>
    </div>
    <div class="content">
      <div class="container">
        <div class="main">
          {% block content %}{% endblock %}
        </div>
      </div>
    </div>
    <div class="footer">
      <div class="container">
        &copy; Copyright Schneider Electric 2016
      </div>
    </div>
  </body>
</html>