{% extends "layout.html" %}
{% block content %}
    <!-- Embedding of inbuildings map tracking
	<div style="width:100%; height:600px; top:100px; left:500px; overflow:hidden; position:relative; justify-content:center; align-items:center"> 
		<iframe src="https://inbuildings.info/reactive_call_new.php?target=reactive_call_new.php"
			frameborder="0" scrolling="NO" allowtransparency="true"
			sandbox="allow-same-origin allow-scripts allow-popups"
			style="position:absolute; top:-620px; left:-650px; width: 100%; height: 2000px">
		</iframe>
	</div>
    -->
    <div style="padding-top:100px">
        <iframe src="https://www.google.com/maps/embed?pb=!1m10!1m8!1m3!1d134715.82306633957!2d153.03233422880857!3d-27.467262260201444!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sau!4v1491886291885" width="800" height="600" frameborder="0" style="border:0" allowfullscreen></iframe>
    </div>
{% endblock %}