<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Medusa</title>

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:regular,bold,italic,thin,light,bolditalic,black,medium&amp;lang=en">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/getmdl-select.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/material.components.ext.min.css') }}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.green-blue.min.css" />
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico') }}">
    <script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/list.min.js') }}"></script>
    <script defer type="text/javascript" src="{{ url_for('static', filename='js/material.components.ext.min.js') }}"></script>
    <script defer type="text/javascript" src="{{ url_for('static', filename='js/getmdl-select.min.js') }}"></script>
    <script type=text/javascript>
      $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
    </script>
  </head>

  <body>
    <h2 style="text-align:center">Site Report - {{site.name}}</h2>
    <br>
    {% for asset in assets %}
      <h3 style="text-align:left;">{{asset.name}}<span style="float:right;">Health: {{(asset.health*100)|round|int}}%</span></h3>
      <h4>Details</h4>

      <b>Location:</b> {{asset.location}}
      <br>
      <b>Group:</b> {{asset.group}}
      <br>
      <b>Priority:</b> {{asset.priority}}
      <br>
      <b>Notes:</b>
      <br>
      {{asset.notes}}

      <h4>Issues - Unacknowledged</h4>
      <table class="mdl-data-table mdl-js-data-table" style="font-size:80%; width:100%; table-layout:fixed; white-space:normal">
        <thead>
          <tr>
            <th class="mdl-data-table__cell--non-numeric">First Failure</th>
            <th class="mdl-data-table__cell--non-numeric">Issue</th>
            <th class="mdl-data-table__cell--non-numeric">Notes</th>
          </tr>
        </thead>
        <tbody>
          {% for result in unresolved_results[asset] %}
            {% if result.acknowledged == False %}
              <tr>
                <td class="mdl-data-table__cell--non-numeric">{{result.first_timestamp.strftime('%Y-%m-%d %H:%M:%S')}}</td>
                <td class="mdl-data-table__cell--non-numeric">{{result.algorithm.descr}}</td>
                <td class="notes mdl-data-table__cell--non-numeric">{{result.notes}}</td>
              </tr>
            {% endif %}
          {% endfor %}
        </tbody>
      </table>
      <h4>Issues - Acknowledged</h4>
      <table class="mdl-data-table mdl-js-data-table" style="font-size:80%; width:100%; table-layout:fixed; white-space:normal">
        <thead>
          <tr>
            <th class="mdl-data-table__cell--non-numeric">First Failure</th>
            <th class="mdl-data-table__cell--non-numeric">Issue</th>
            <th class="mdl-data-table__cell--non-numeric">Notes</th>
          </tr>
        </thead>
        <tbody>
          {% for result in unresolved_results[asset] %}
            {% if result.acknowledged == True %}
              <tr>
                <td class="mdl-data-table__cell--non-numeric">{{result.first_timestamp.strftime('%Y-%m-%d %H:%M:%S')}}</td>
                <td class="mdl-data-table__cell--non-numeric">{{result.algorithm.descr}}</td>
                <td class="notes mdl-data-table__cell--non-numeric">{{result.notes}}</td>
              </tr>
            {% endif %}
          {% endfor %}
        </tbody>
      </table>
      <p style="page-break-after: always"></p>
    {% endfor %}
  </body>
</html>
